[2020-02-27 15:08] #269 closed, assigned to cagp-dev-mtl, mcgratay

[2020-02-27 22:17] cagp-dev-mtl commented on #272
After researching, there is an open PR on the HP5 library that solves the issue of blocked localStorage, this PR might also address the Chrome 82 sameSite cookie problem reported by Canvas users.

Open PR:
https://github.com/h5p/h5p-php-library/pull/66

[2020-02-28 21:03] #272 closed, assigned to cagp-dev-mtl

[2020-03-03 14:44] SteelWagstaff commented on #88
Looks like Prince already supports Lea Verou's Prism.js library: https://prismjs.com/. See  https://www.princexml.com/forum/topic/2510/prism.js-highlighter-support + https://www.princexml.com/forum/topic/2242/js-generated-syntax-highlighting-doesnt-show-up-in-pdf. Add'l reference doc for working wtih JS in Prince: https://www.princexml.com/doc/javascript/ + https://www.princexml.com/doc/prince-inp

[2020-03-03 14:47] SteelWagstaff commented on #70
Some ideas for automatic indexing using PrinceXML: https://www.princexml.com/forum/topic/3569/index-and-cross-references-with-prince-a-simple-example + https://www.princexml.com/forum/topic/3570/automatic-index-generation-in-prince-with-javascript

[2020-03-03 16:28] SteelWagstaff opened #279 "Review and Test Kaltura Video Plugin"
### Feature Description

Some Pressbooks clients use Kaltura as their campus video streaming service. Kaltura has developed a WordPress plugin that can be used with WordPress multisite networks: https://knowledge.kaltura.com/help/kaltura-video-plugin-for-wordpress-information-guide#installing-the%C2%A0kaltura-video-plugin-for-wordpress-on-a-wordpress-multi-site. They have requested its use with th

[2020-03-03 16:46] SteelWagstaff commented on #279
I've installed the plugin on a sandbox network and am working with one client to configure it for testing.

[2020-03-03 17:25] SteelWagstaff commented on #279
Entered requested information to configure the plugin. Received initial success message followed by error:

No email was sent to the admin email inbox that I could see. Heading to server logs next, but not an ideal start :-(

[2020-03-03 17:38] SteelWagstaff commented on #279
Was able to get it working with a little extra configuration. Partner ID should typically be associated with the email & password requested. Once configured, the plugin displays a set of options/settings at the network settings level:

![Screenshot from 2020-03-03 11-35-57](https://user-images.githubusercontent.com/13485451/75802963-429d0480-5d43-11ea-9747-d5c5af1f7153.png)

These can be configure

[2020-03-03 17:59] SteelWagstaff commented on #279
Embedded media displays as expected in the webbook:
![Screenshot from 2020-03-03 11-51-22](https://user-images.githubusercontent.com/13485451/75804329-682b0d80-5d45-11ea-9a3d-cb28e762546a.png)
Videos remain embedded in epub files, but don't degrade gracefully in PDF exports. They also produce validation errors which would need to be resolved. See sample export files from https://sandbox.pressbooks

[2020-03-04 16:28] SteelWagstaff commented on #279
Problem: I cannot access the global network settings page for the plugin, even though I am a super admin. Don't know why. See https://github.com/kaltura/all-in-one-video-pack.wordpress/blob/dfe59f6545e6700a77619f072a594639c6a3b288/view/admin/info.php#L38 for error message.

[2020-03-05 18:18] SteelWagstaff opened #280 "Allow network managers to bulk change theme from book list"
### Feature Description

Network managers would like to change the theme for several books on their network at once. Would like to be able to do this from the book list.

### Other Notes

Would probably live in https://github.com/pressbooks/pressbooks-network-analytics

[2020-03-05 18:19] SteelWagstaff opened #281 "Allow network managers to bulk chance copyright license from book list"
### Feature Description

Network managers would like to change the copyright license for several books on their network at once. Would like to be able to do this from the book list.

### Other Notes

Would probably live in https://github.com/pressbooks/pressbooks-network-analytics

[2020-03-05 18:20] SteelWagstaff opened #282 "Allow network managers to bulk change language from book list"
### Feature Description

Network managers would like to change the book language for several books on their network at once. Would like to be able to do this from the book list.

### Other Notes

Would probably live in https://github.com/pressbooks/pressbooks-network-analytics

[2020-03-06 01:44] SteelWagstaff commented on #253
May also now be possible do this with Transifex directly: https://docs.transifex.com/transifex-github-integrations/github-tx-ui

[2020-03-06 17:32] SteelWagstaff opened #283 "Automatically update translations for open source repos pre-release"
Transifex now supports automatic GitHub integration for individual repos: https://docs.transifex.com/transifex-github-integrations/github-tx-ui. We should test this for one of our repos currently using Transifex to see how it might improve our i18n & l10n processes. I propose our CAS SSO plugin for initial test.

Steel installed and connected Transifex app in organizational GitHub and authorized f

[2020-03-06 21:31] SteelWagstaff opened #284 "Switching all repos to Travis-CI.com"
Travis CI now allows teams to move their public open source repos to Travis-CI.com (instead of .org). https://docs.travis-ci.com/user/migrate/open-source-repository-migration. Since we already have some private repos using .com, might be more convenient to have all of them there.

Tasks:
- [x] Apply to move all repos to Travis-CI.com
- [x] Review and complete needed steps for public repos: https:/

[2020-03-12 16:22] SteelWagstaff opened #285 "Add open embeddable assessments URLs to auto oembed whitelist"
We whitelist some oembed providers: https://github.com/pressbooks/pressbooks/blob/9aaea5e1c7ececf2e44bd3968e8e3fc05e13b642/inc/interactive/class-content.php#L344-L353. We should add support for open embeddable assessments in a way that's compatible with existing assessments created by Lumen Learning: https://github.com/lumenlearning/candela-utility/blob/7f7cb0f6077d0b83277e63a54bc3faa7dc28f9ef/inc

[2020-03-12 16:33] SteelWagstaff commented on #284
TODO: Check to see that tags and zip files are created as expected & as needed for production deploys

[2020-03-18 16:37] colomet opened #286 "Warmings just to Super-admin"
### Feature Description

Site administrators and other roles do not require to see code warmings.

![Captura de pantalla 2020-03-18 a las 17 34 56](https://user-images.githubusercontent.com/3929177/76984332-f9ea6b80-693e-11ea-8c8e-210d2b962c91.png)

### Feature Use Case

Site administrators can be confuse with those warmings and non available options. More fine tuning of options are required. But

[2020-03-20 20:14] SteelWagstaff opened #287 "Export whole book as separate chapter chunks (PDF & EPUB)"
### Feature Description

Some instructors want to export a book chapter by chapter, but there's no easy way to do this all at once. We could create a PDF export option that exported the book as a set of separate PDFs (one per chapter) in a zip file.

[2020-03-20 20:24] SteelWagstaff commented on #196
Bulk action 'add user' to new book list page? Would also like 'remove user' bulk action, but this would be trickier, since a user may not be a registered user in a given selection. To think through later.

[2020-03-20 20:27] SteelWagstaff opened #288 "Make it easier to remove a user from many books at once"
For example, maybe allow network managers to remove users from several books at once from the 'User info' page: `wp-admin/network/admin.php?page=pb_network_analytics_userlist&id=3`?

[2020-03-20 20:47] SteelWagstaff commented on #213
Users would also like to produce and bulk download exports for multiple books/formats at once!

[2020-03-22 03:06] SteelWagstaff commented on #109
See https://creativecommons.org/2020/03/16/version-one-of-the-cc-catalog-api/ + https://opensource.creativecommons.org/blog/entries/2019-07-24-cc-search-wp-plugin/ + https://github.com/lenasterg/ls-wp-ccsearch for some promising developments on this front!

[2020-03-24 18:39] #285 closed, assigned to mcgratay

[2020-03-24 18:40] colomet opened #289 "to have a widget area in the footer of the book"
### Feature Description

To have a widget area in the footer of the book

### Feature Use Case

Authors can personalise the footer for they specifical situation. Now, all the footers are the same, but to have the global footer and the book footer will allow a personalisation of the book.

### Other Notes

Example of the Adine footer. Where a widget area is also with the footer

![Captura de pantal

[2020-03-25 17:59] SteelWagstaff commented on #285
@mcgratay For testing we should determine what happens when links from the following sites are pasted into or occur in texts:
1. https://openassessments.com
2. https://assessments.lumenlearning.com

Expected: oEmbed Behavior should be the same as for other items on our whitelist (openassessments.org, phet, etc.) in webbook and export formats. Example of the latter available in https://integrations

[2020-03-26 01:19] SteelWagstaff opened #290 "Bundle of footnote issues"
- [ ] Improve underlying HTML for accessibility: https://github.com/pressbooks/pressbooks-book/issues/664
- [x] Covert footnotes in parts to endnotes just like is the case with chapters: https://github.com/pressbooks/pressbooks-book/issues/610
- [x] Fix endnote float issue: https://github.com/pressbooks/pressbooks-book/issues/626
- [x] Fix footnote margin issue in PDF exports: https://github.com/p

[2020-03-27 18:57] colomet opened #291 "admin menu sync with multisite cappabilities"
### Feature Description

To integrate the admin menu with the required cappabilities.

### Feature Use Case

If i change the cappabilities to a role, giving to a new role all the multisite cappabilities, the new role allow to the users to see all the multisite settings but the top menu have no direct acces to the multisite section.

Now, if we need to have a new role, we have the permisions but no

[2020-03-28 09:58] colomet opened #292 "clone a book sync with create_sites cappability"
### Feature Description

to be able to clone books to non-administrators if create books at setting page is not activate by synchronising create_sites capability with clone books option.

### Feature Use Case

If we need a new role where they can clone books, now is not possible, since create_sites capability is not connected with clone books. So, or just super administrators can manage sites or a

[2020-03-28 10:05] colomet opened #293 "Allow network managers to bulk change book info"
### Feature Description

To be able to change book info fields at once for all the books or selected books

### Feature Use Case

Some times language, license or any other field requires an update. Now, we have to open one by one all the fields, in a situation where we have 300 books or more, the situation is slow. But by having one centralised place, will make possible the updates in no time.

Th

[2020-03-28 10:05] colomet commented on #293
Related to: pressbooks/ideas#282 pressbooks/pressbooks-network-analytics#381 pressbooks/ideas#280

[2020-03-28 10:08] colomet commented on #293
In situations where the site (a publishing house) is the responsibility of all the books, that is an important and useful requirement. So, the chief editor can manage as required.

[2020-03-31 08:12] colomet commented on #116
maybe it can be easy fix if we integrate with import (and maybe also clone) and export cappability.

[2020-03-31 16:11] mcgratay commented on #285
Tested the Lumen Learning instance of Open Assessments. Links to assessments auto embed now, and all assessments included in cloned books clone successfully.

There is one minor difference in display of the graceful fallback in export formats:

![Screen Shot 2020-03-31 at 11 10 30 AM](https://user-images.githubusercontent.com/39064028/78049093-3d31da80-7340-11ea-9cc7-f9c025b14c4f.png)

.org activi

[2020-04-01 11:55] colomet opened #294 "Smart redirection http - https"
### Feature Description

Open pages with the required URL: if the domain has a secure connection, with secure connection https if not, then, not.

### Feature Use Case

Some times, we follow a new page but the URL of the page may or may have not the secure connection. That is a problem in secure connexions since the browser does not recognise the open session.

### Other Notes
https://pressbooks.c

[2020-04-01 20:53] colomet commented on #287
an option to export all the chapters of a part as one pdf would be nice too.

[2020-04-02 07:32] colomet opened #295 "Front Matter type with dinamic content"
### Feature Description

To be able to have templates in Front Matter where atomaticaly the conten are created.

### Feature Use Case

The h5p list of activities (Instead of /h5p-listing/) or the list of books of the author can be shown by just activating in a page the new required template.

### Other Notes

![Captura de pantalla 2020-04-02 a las 9 29 41](https://user-images.githubusercontent.com

[2020-04-02 13:10] SteelWagstaff commented on #122
See also https://github.com/lumenlearning/candela-utility/blob/master/includes/cu-edit-sort.php, which adds a few desired features to the bulk edit chapter page

[2020-04-02 14:11] pb-amy commented on #133
Amy Hofer of OpenOregon upvoted this feature - 04/01/20 (ticket 20633 for reference)

[2020-04-04 00:41] SteelWagstaff opened #296 "Declare/publish editions"
### Feature Description

Allow users to declare/publish an 'edition' of a book (1.1, 2.0, 3.0, etc.). Publishing an edition would preserve a fixed copy of the text at a given moment in time. Exports could be/would be associated with editions. After future edits are made, a new edition can be published in place (previous editions could then be compared). Notifications could also be pushed/sent to c

[2020-04-06 19:06] colomet commented on #288
and to add it would be good too.

[2020-04-07 22:55] Prathvi-Kanchan opened #297 "Require simple method for Ordering Parts in Organize tab in Pressbooks"
To order the parts in Organize tab, we currently need to change the order number manually.
![image](https://user-images.githubusercontent.com/63322182/78726974-fec88c80-78f8-11ea-9304-e8aa5273243e.png)

Ordering the part by changing order number and then changing the other part's order number is cumbersome if there are many chapters.

A move up or move down or dragging feature will helpful which w

[2020-04-07 22:56] PressbooksLiz commented on #297
Hi pressbooks/ideas,

Thank you for contacting the Pressbooks Sales Desk! We've
received your request and will get back to you with a response as
quickly as possible.

Stay tuned—we will get back to you shortly!

Best,

The Pressbooks Sales Team

Pressbooks.com
( https://slack-redir.net/link?url=http%3A%2F%2FPressbooks.com )

[2020-04-13 13:40] weevie833 commented on #279
A couple notes about access: There may be FERPA issues if the videos include anything about a student. I realize this is not PB's concern, but opening up Kaltura into PB may cause unintended consequences. Perhaps an alert message in the embed process? Same, too, with copyright issues.

Second, this should be tested with exported EPUB, PDF, and MOBI to be sure the embed/oEmbed links default to a di

[2020-04-13 13:58] weevie833 opened #298 "Add plugin for broken link checking"
### Feature Description

A dashboard element would show admins a running list of broken links as they are discovered.

### Feature Use Case

Faculty are currently tasked with manually checking all of the external links in their e-book prior to each term (and even during). Having a plugin aggregate potential dead links in one location would streamline this process.

### Other Notes

The current WP

[2020-04-13 18:23] colomet commented on #298
I like to use as plugins applications with hight CPU use, so I could activate and deactivate just when they are required.

[2020-04-14 18:14] SteelWagstaff opened #299 "Make it easier to embed visualizations created with Tableau Public"
### Feature Description

Tableau is a popular data visualization tool. They make a product, Tableau Public, that allows people to create and publish interactive, web-based visualizations. These visualizations can be embedded into other websites, but often require external javascript. Tableau maintains an API that developers can use to help them embed these visualizations more seamlessly into their

[2020-04-15 15:27] ricardopressbooks commented on #290
It happens with **baker** theme.

[2020-04-15 19:42] colomet opened #300 "Allow book admins to decide which file export versions are available for download"
### Feature Description

To be able to decide, from the exported books, wich extensions are available to the people.

### Feature Use Case

Some times we export all the available extensions because some of them are useful for internal use, or backups or ...

If Users have too many options, they may not understand what´s going on. If just epub and pdf are available, they will have not problems.

##

[2020-04-16 14:33] colomet opened #301 "theme refresh"
### Feature Description

To be able to refresh all the CSS themes and maybe permalinks too.

(switch_all_multisite_themes(); )

### Feature Use Case

If we do modify the CSS of a theme, we have to change one by one all the themes, in a situation where we have many many themes, it requires a lot of work. Since we can **Lock your theme at its current version**. That will not destroy if any book admi

[2020-04-17 18:19] ricardopressbooks commented on #290
After discuss with @SteelWagstaff :
scope for:

Now, footnotes imported from .docx are not imported at all. So I'll fix it and add italics style if needed. **Add footnotes shortcode will be considered and estimated in the future**.

[2020-04-18 01:14] SteelWagstaff opened #302 "Replace do_shortcode with apply_shortcode"
### Feature Description

As of WordPress 5.4, apply_shortcode has been added as a preferred alias for do_shortcode, which will eventually be deprecated. See https://make.wordpress.org/core/2020/02/13/wordpress-5-4-introduces-apply-shortcodes-as-an-alias-for-do-shortcode/

We can begin replacing our usage of the latter throughout our codebase: https://github.com/pressbooks/pressbooks/search?q=do_sh

[2020-04-19 09:10] colomet opened #303 "Performance RAM"
### Feature Description

A Pressbooks installation requires 2X the ram of a default wordpress installation

### Feature Use Case

Faster movement acros admin pages

### Other Notes
admin.php?page=pb_organize
![Captura de pantalla 2020-04-19 a las 11 07 19](https://user-images.githubusercontent.com/3929177/79683988-4a026980-822e-11ea-88f1-3a6f161416c2.png)

wp-admin/edit.php
![Captura de pantalla 2

[2020-04-21 14:21] Kcarte02 commented on #277
Hi, Just popping in for a status update on this feature. Thank you both so much for considering it.

[2020-04-21 14:30] SteelWagstaff commented on #277
Hi @Kcarte02 it's still in our backlog near the top of our priority 2 column. Haven't sized it or accepted it into a sprint yet, but we still think it's a great idea!

[2020-04-21 22:18] SteelWagstaff opened #304 "Redirect user to admin dashboard upon successful login"
### Feature Description

When users login from the network home page using the login button, they're logged in and returned to the network home page. In many cases, network managers and other would prefer that logged in users be directed to their admin dashboard (i.e. /wp-admin/ page). We could either make this default behavior, or allow users to customize where the post login redirect takes a use

[2020-04-22 13:04] jcastle-uga opened #305 "Detect Logged In Users"
### Feature Description

The ability to conditionally present content based on a user's logged in status would be very helpful. As it stands, our "Get Started" link points to the same location for everyone, but we would to have different workflows depending on if someone is logged in as an existing user of the system or not logged in.

### Feature Use Case

If someone is not logged in, we want to

[2020-04-23 15:13] VTOpenLib opened #306 "Add author-like field for "adapted by""
### Feature Description

Please add a field in addition to the "author" field for inclusion of the name(s) of adapters.

### Feature Use Case

When customizing / adapting an existing openly licensed book, it is important to be able to clearly and prominently display who the original author is (if allowed) and to also include the name of the "adapter" and to indicate their role as having adapted th

[2020-04-23 18:25] hughmcguire commented on #306
I love this idea!

[2020-04-24 09:43] colomet opened #307 "googleweblight integration"
### Feature Description

To work with googleweblight.

### Feature Use Case

Google shows faster, lighter pages to people searching on slow mobile clients. So far, the cover page do not works (so, the population in countries or regions with bad internet conexion or just 2G have a bad experience).

Since Open education is most important for those areas, I think I will be a good idea to integrate it

[2020-04-25 01:04] SteelWagstaff commented on #283
Steel installed and connected Transifex app in organizational GitHub and authorized for 5 repos: pressbooks-publisher, pressbooks-aldine, pressbooks-lti-provider, pressbooks-cas-sso, pressbooks-saml-sso on 4.24.20

[2020-04-25 01:07] SteelWagstaff commented on #283
To proceed further we will need to choose a branch to work against (dev, master, etc.) and then map our repo in Transifex by producing a YAML file that matches their schema: https://docs.transifex.com/integrations/transifex-github-integration#linking-a-specific-project-with-a-github-repository
![Screenshot from 2020-04-24 20-06-57](https://user-images.githubusercontent.com/13485451/80267541-2cd2fe

[2020-04-26 13:21] SteelWagstaff commented on #284
Pressbooks isn't showing up as an org for Carlos or I in travis-ci.org. I emailed travis support about this on 4.23.20.

[2020-04-30 00:57] SteelWagstaff commented on #298
Hi all, see https://github.com/pressbooks/ideas/issues/298 for previous issue on this topic. I'm going to close this issue as a duplicate of that previous ticket and move conversation there.

[2020-04-30 00:59] #298 closed, assigned to nobody

[2020-04-30 00:59] SteelWagstaff commented on #185
FYI @weevie833 and @colomet, we did some internal testing of both https://wordpress.org/plugins/wp-link-status/ and https://wordpress.org/plugins/broken-link-checker in November but weren't happy about the server load produced by either. Happy to keep looking/testing, though if anyone has other ideas?

[2020-04-30 11:55] colomet opened #308 "Custom header and e-mail sender in emails"
### Feature Description

To be able to use custom information in the emails information

### Feature Use Case

Users do not know what pressbooks is, by receiving an email from Pressbooks they may think  is spam or a fake account. But if we can choose the main domanin name instead, they will open the email without questioning.

### Other Notes

![Captura de pantalla 2020-04-30 a las 13 53 56](https

[2020-04-30 21:26] SteelWagstaff commented on #283
Ned shared how he's doing this for his platform coop project:
https://github.com/platform-coop-toolkit/coop-library/blob/dev/.github/workflows/main.yml
https://github.com/platform-coop-toolkit/coop-library-framework/blob/dev/.github/workflows/main.yml

[2020-05-02 09:54] colomet opened #309 "ADA compliant"
### Feature Description

is the web site ADA compliant?
https://medium.com/@krisrivenburgh/the-ada-checklist-website-compliance-guidelines-for-2019-in-plain-english-123c1d58fad9

### Feature Use Case

To follow the Americans with Disabilities Act (ADA)

### Other Notes

We did try several plugins, and that´s the one we like the most (because of the simplicity)
WordPress.org

Accessible Poetry – Wo

[2020-05-06 14:35] Jero2760 commented on #184
Thanks Hugh and Steel. I am using nbconvert plugin from Andrew Challis and it is very useful and much more convenient than the other solution mentioned by Hugh.

So, I recommend using [nbconvert – A wordpress plugin for Jupyter notebooks](https://www.andrewchallis.co.uk/portfolio/php-nbconvert-a-wordpress-plugin-for-jupyter-notebooks/).

It is a neat little shortcode plugin for WordPress that uses

[2020-05-06 14:53] SteelWagstaff commented on #184
Thanks for the tip @Jero2760 -- looks very promising. Hope to investigate soon!

[2020-05-07 14:28] #284 closed, assigned to SteelWagstaff, ho-man-chan

[2020-05-07 14:38] SteelWagstaff opened #310 "Add Source Sans Pro to Shapeshifter font options"
### Feature Description

Some authors would like to use Source Sans Pro with our shapeshifter font selection feature available in Malala.

[2020-05-08 10:30] Jero2760 commented on #184
Please see this example of a Pressbooks book using Jupyter Notebook. Lectures and assignments are provided as interactive Jupyter notebooks. Readers can learn through a lecture notebook and then go to the assignment notebook and access it through GitHub to open and run the Jupyter notebook (Jupyter nbviewer, Google Colab notebooks, etc.)

This example book also includes the plugin installation ins

[2020-05-08 12:42] SteelWagstaff commented on #184
@Jero2760 thanks for the helpful example. Can you provide examples of what the epub and PDF exports look like for this book? I think supporting Jupyter notebooks in our webbooks will be the "easy" part, but thinking about how this will affect various export formats and ensuring graceful fallback across all formats will be the part we still need to think about internally.

[2020-05-08 12:52] #310 closed, assigned to nobody

[2020-05-08 17:45] Jero2760 commented on #184
@SteelWagstaff Export formats in pdf and epub work smoothly. Just a touch of CSS as usual! Of course this solution requires some fine tuning, but it delivers more interactivity to open textbooks for computer science, machine learning, software engineering, and the like

[2020-05-21 12:31] SteelWagstaff opened #311 "Explore automated visual regression testing"
Pressbooks previously used a release testing protocol: https://docs.google.com/spreadsheets/d/1M8J8SgOCt0fmy0ZwYsvScy4Ofhrtvt45yVyJLp_YQfo/edit
We could implement automated visual regression testing with something like Selenium, Browser Stack or [BackstopJS](https://github.com/garris/BackstopJS) to test UI changes by comparing DOM screenshots over time.

Idea: automate some browser stack testing (

[2020-05-21 13:00] SteelWagstaff opened #312 "[Epic] Improve & document QA & CI/CD processes"
# QA/testing
- [ ] Review dependabot rules & explore automerge to dev: https://github.com/pressbooks/private/issues/162
- [x] Autodeploy dev commits to integrations/textopress for testing & review:  https://github.com/pressbooks/private/issues/165
- [ ] Autobump 3rd party plugin updates on integrations/textopress for testing & review: https://github.com/pressbooks/private/issues/166
- [ ] Attempt

[2020-05-22 01:55] SteelWagstaff opened #313 "Add script support for Armenian"
### Feature Description

Users would like to be able to write books using the Armenian alphabet. There are sans and serif typefaces for Armenian available in Google's Noto collection: https://www.google.com/get/noto/#sans-armn + https://www.google.com/get/noto/#serif-armn. To add them to Pressbooks, see approach used recently for N'Ko and Adlam: https://github.com/pressbooks/pressbooks-book/commit

[2020-05-22 18:47] #313 closed, assigned to nobody

[2020-05-23 00:16] SteelWagstaff opened #314 "Allow network managers to modify contact form"
### Feature Description

The current Aldine contact form has four required fields: name, email, institution, and message. Some network manager would like to customize the labels for these fields and make some of them optional. For example, they may wish to change the 'institution' label to 'division' or 'department' or 'role' and make it optional. Giving network managers some tools to customize th

[2020-05-24 18:20] colomet opened #315 "lang attribute to identify chunks of text"
### Feature Description

To be able to use the `lang` attribute to identify chunks of text in a language that is different from the document’s primary language.

### Feature Use Case

Language books with two languages in a page.

### Other Notes

https://developer.paciellogroup.com/blog/2016/06/using-the-html-lang-attribute/

[2020-05-26 20:40] SteelWagstaff opened #316 "Add download and playback speed controls to the default audio player"
### Feature Description

Pressbooks uses WordPress native mediaelements.js media player to play embedded audio files. This player does not include a download button to allow listeners to download the source audio files (like a basic browser-native `<audio controls>` element does), nor does it include controls to increase/decrease playback speed. Users would like to add both of these to make embedd

[2020-05-27 15:02] Verdem-crypto commented on #71
where i can download it?

[2020-05-27 15:13] colomet commented on #71
You can copy and paste the code in your theme or plugin maybe.
[code]

[2020-05-27 15:15] colomet commented on #71
If you do not like to show the URL with the id of the page, change the const pagelink =

`const pagelink = `\n\nSource: © ${document.location.href}`;`

[2020-06-04 15:38] SteelWagstaff opened #317 "UX/UI Feedback & refinement"
- [ ] Share initial front end build with selected users (Hugh, Sarah, Rebus experts) and ask for UX/UI input
- [ ] Steel study Vuetify components and make recommendations/choices based on those: https://vuetifyjs.com/en/getting-started/pre-made-layouts/
- [ ] Refine spec and make decisions for improvement

[2020-06-18 15:12] SteelWagstaff opened #318 "Build release note automation"
Follow recommendations in https://github.com/pressbooks/private/issues/167

[2020-06-26 19:47] colomet opened #319 "Glosary javascript deactivated if a book have not glosary"
### Feature Description

there is a javascript file that run the glosary, but if the glosary is not used, the file is loaded anyway, it would be nice to deactivated if the glosary is empty.

### Feature Use Case

people with no glosary will have a faster site.

### Other Notes

[2020-06-27 14:10] hughmcguire opened #320 "Book Usage Analytics (downloads/adoptions)"
### Feature Description

Have a native analytics dashboard (for each book, and for the network) that tracks reader / usage activity, including:
1. book downloads
2. download formats
3. book visits
4. page visits
6. adoptions (self reported prompt?)
7. number of other institutions that have cloned this book
8. other things?

Bonus if we can track this across all cloned versions of a book, and repor

[2020-06-27 14:16] hughmcguire opened #321 "Book Adoptions (self report?) widget?"
### Feature Description

For Published OER, add an optional widget on the Book Home page, which says something along the lines of:
"Are you faculty adopting this book? Please let the author know!"

This would then open a dialog with the following (optional) fields:
- Your name
- Your email
- Your institution
- How many students in your course (approximate)
- other things?

### Feature Use Case

A

[2020-07-02 17:38] SteelWagstaff opened #322 "Gather 1st round of user feedback & build aesthetic improvements for overall UX/UI"
Steel has sent feedback form out to several PB colleagues: https://docs.google.com/forms/d/1nLuUsxO6k9Y5x4Zh53Hd0FYCBottJjdGs-lRVZlHbA8/edit and requested responses by Monday.

- [x] Add clear refinements button: https://github.com/pressbooks/pressbooks-book-directory-fe/issues/54
- [x] Allow visitors to change cards per page: https://github.com/pressbooks/pressbooks-book-directory-fe/issues/56
-

[2020-07-02 22:16] SteelWagstaff opened #323 "Replace references to 'whitelist' and 'blacklist'"
Replace all user-facing references to 'whitelist' and 'blacklist' with 'allowlist' and 'blocklist' in code and documentation.

See https://github.com/search?l=PHP&q=org%3Apressbooks+whitelist&type=Code + https://github.com/search?l=PHP&q=org%3Apressbooks+whitelist&type=Code

Look for HTML, Blade, Markdown occurrences.

Steel will work on guides/KB docs with Amy.

[2020-07-06 20:07] pb-amy commented on #323
### Support

**Network manager:**
- [x] https://guide.pressbooks.com/chapter/embedded-media-interactive-content/
- [x] https://guide.pressbooks.com/chapter/users/

**User:**
- [x] https://networkmanagerguide.pressbooks.com/chapter/network-iframe-whitelist/
- [x] https://networkmanagerguide.pressbooks.com/chapter/debug-file-validation/
- [x] https://networkmanagerguide.pressbooks.com/chapter/networ

[2020-07-11 17:22] SteelWagstaff opened #324 "Allow network managers to exclude non-catalogued public books from Pressbooks Directory"
By default the new Pressbooks directory displays metadata for all public books on a given network. In some cases, network managers would like to exclude all public books from the directory listing except for those books which they've chosen to add to the network catalogue. We should enable this by

1. add a check box to the Sharing and Privacy Settings page: `wp-admin/network/settings.php?page=pre

[2020-07-11 17:32] SteelWagstaff opened #325 "Allow individual book admins to exclude their public books from the Pressbooks Directory"
By default the new Pressbooks directory displays metadata for all public books on a given network. In some cases, individual book authors would like to exclude opt-out of having their public books displayed in the general directory. In cases where the network does not exclude all public, non-catalogued books from the directory, see https://github.com/pressbooks/ideas/issues/324, individual book ad

[2020-07-12 01:32] SteelWagstaff commented on #320
Good ideas, Hugh. We've thought about a closer integration with Fathom: https://usefathom.com/ in the past & want to revisit this soon (see convos in internal Slack & past product meeting agendas).

[2020-07-16 21:35] SteelWagstaff commented on #322
User feedback has been summarized in https://docs.google.com/document/d/170TmnKUBZo4PxmESyUybi1IxZets8g3XCjeP6dBw0NE/edit?ouid=102406216832199618062&usp=docs_home&ths=true

[2020-07-16 21:35] #322 closed, assigned to SteelWagstaff, ricardopressbooks

[2020-07-17 13:19] hughmcguire opened #326 "Make an option (on by default) to make contributors public/visible & pretty"
### Feature Description

Revamp/improve how we handle Contributors, to:
a) allow better/more complete data input
b) display contributors on the Book Info page
c) build a nice-looking contributor page by default

Among desired improvements:
1. Have an option: "show contributors on book info page" (probably on by default)
2. create an auto contributors page at the back of the book, and format it nic

[2020-07-27 16:04] pb-amy opened #327 "Allow users to style glossary terms in PDF exports"
### Feature Description

This is based on ZD ticket 150 (this is only for reference), and the request comes from Mt Hood Community College (MHCC).

Right now, special styling for glossary items is not available for PDFs. In the webbook format, our code structure is set up so that individual Glossary terms are wrapped in `<button>` elements with the class `.glossary`. When we generate the XHTML doc

[2020-07-27 18:01] hughmcguire commented on #134
see also: https://github.com/pressbooks/ideas/issues/326

[2020-07-27 18:23] SteelWagstaff commented on #324
@cagp-dev-mtl Tested the feature on both integrations and textopress. Notes below:

1. Please add the  'Book directory | Exclude non-catalogued public books from Pressbooks Directory.' setting to the network defaults tab of network options as well, where it will be visible to network managers. It can go either at the top or the bottom of the "Network Defaults" section, i.e. just above 'Book Upload

[2020-07-31 17:01] SteelWagstaff commented on #324
Tested again on Integration and Textopress.
I did not see #1, but this is ok for now -- we're fine to leave this as a setting for super admins/PB staff at present.

#2 has been fixed.

I could not test #3 again, as it was only present before the option had been toggled, and it had already been toggled on both staging networks. Will assume this works now?

#4 was not built but is in the backlog for

[2020-07-31 17:01] #324 closed, assigned to cagp-dev-mtl

[2020-08-05 16:12] pb-amy opened #328 "Keep TOC Open at all times on Webbook"
### Feature Description

The webbook has a TOC which operates with Javascript - it refreshes (and thus, closes) everytime a new page is clicked on/navigated to. We have gotten a couple of requests asking us to keep the TOC open 'permanently' so that there is easier navigation as the book is being read.

### Feature Use Case

For the benefit of all readers of these books. Having the choice to have

[2020-08-19 16:38] SteelWagstaff opened #329 "Add support for New Athena Unicode"
Some users have requested the use of the New Athena Unicode typeface for books which need support for Ancient Greek or other languages covered by the typeface. We should evaluate whether this typeface could replace those fonts currently in use for Ancient Greek or Coptic. Ttf and woff versions of the typeface (released under a [SIL Open Font License](http://scripts.sil.org/cms/scripts/page.php?sit

[2020-08-19 18:24] pb-amy opened #330 "Add author for individual chapters in webbook TOC"
### Feature Description

When a book has chapters written by different authors, in the PDF export, the table of contents (TOC) shows the author names below each chapter title.
![Screen Shot 2020-08-19 at 2 20 08 PM](https://user-images.githubusercontent.com/61845107/90674403-17419f80-e227-11ea-811b-67558b66c4ac.png)

This is not the case for webbooks as seen in this screenshot below:
![Screen Shot

[2020-08-19 23:20] SteelWagstaff commented on #224
@josieg suggested via Twitter that we may also wish to consider https://trinityaudio.ai/the-trinity-audio-wordpress-plugin-implementation-guide/. See implementation by Clint Lalonde for WP blog at https://edtechfactotum.com/could-a-canadian-mooc-provider-have-helped-higher-ed-this-fall/

@ricardopressbooks Has suggested we could perhaps try to integrate the [AWS Polly service](https://aws.amazon.c

[2020-08-19 23:23] josieg commented on #224
Would you believe I forgot I submitted this? Thanks Steel!

[2020-08-19 23:23] SteelWagstaff commented on #224
@josieg it was a good idea then (and now). Thanks for keeping up your vigilance for things that would make Pressbooks more accessible to more users!

[2020-08-24 13:16] ricardopressbooks commented on #327
PRs:
- https://github.com/pressbooks/pressbooks/pull/2025
- https://github.com/pressbooks/pressbooks-book/pull/713

[2020-08-25 01:03] pb-amy commented on #114
Internal: https://pressbooks.zendesk.com/agent/tickets/1837

If this ticket is ever worked on, please follow up with the ticket above.

[2020-08-25 23:04] SteelWagstaff opened #331 "Stop hiding the 'edit' link for chapters when a book is launched in LMS via LTI without 'navigation'"
Our LTI plugin includes an appearance option which allows admins to suppress navigation menus and other 'superfluous' content
![Screenshot from 2020-08-25 16-00-43](https://user-images.githubusercontent.com/13485451/91236201-2b384600-e6ec-11ea-830d-8bcaf48fc9cd.png)

When selected, the book's navigation menu and other navigational aids in the webbook reading interface are suppressed with 'show: no

[2020-08-26 22:02] SteelWagstaff commented on #327
@ricardopressbooks & @ho-man-chan Glossary terms now have a span with .glossary-term applied to them in the XHTML, which is good. However, https://github.com/pressbooks/pressbooks-book/pull/713 adds unwanted styling to the glossary terms in PDF exports and puts it in an unexpected location within Buckram. Rather than adding a hard coded colour value #541600;, we should instead consider simply bold

[2020-08-27 13:14] ricardopressbooks commented on #327
Thank you for review it Steel.
I submitted a new PR with required changes: https://github.com/pressbooks/pressbooks-book/pull/716. For testing, Check in Appareance -> Custom Styles -> PDF and confirm you have `.glossary-term` class with bold style. Also, export a book with glossary term and confirm the style for those.
Also, you should add custom style for .glossary-term class in "Your PDF Style"

[2020-08-28 00:50] SteelWagstaff commented on #327
Glossary terms now have a span with class .glossary-term and have a default font-weight of bold in webbooks (once the stylesheet is reset) and export formats.

[2020-08-28 00:50] #327 closed, assigned to ricardopressbooks

[2020-08-28 00:52] SteelWagstaff commented on #331
Tested. Works as expected on integrations.

[2020-08-28 00:52] #331 closed, assigned to SteelWagstaff

[2020-08-28 00:52] #329 closed, assigned to SteelWagstaff

[2020-09-02 12:58] apurvaashok opened #332 "ODT file does not open in Libre Office (format error in sub-document content.xml)"
### Feature Description

The [Ethics book](https://press.rebus.community/intro-to-phil-ethics/) ODT file does not open in Libre Office (which is the main tool used to open, read, edit ODT files). When trying to open the file in Libre Office on Ubuntu or Mac, the following error  is displayed: “Read Error. Format error discovered in the file in sub-document content.xml at 1,398652(row,col)” (the ro

[2020-09-02 16:02] SteelWagstaff commented on #332
Thanks for reporting @apurvaashok -- this is thorough and very useful. No one at Pressbooks has touched the ODT exporter in a couple of years, so that's likely going to be a fairly heavy lift for us. This ODF document reference may be helpful for future work: https://blog.documentfoundation.org/blog/2020/01/21/odf-1-3-approved-as-oasis-committee-specification/

[2020-09-02 16:30] apurvaashok commented on #332
Thanks, Steel! I'm hoping that the reader can still use one of the other
Office tools (Open Office, MS Office) to open the document in the meantime.
Glad that you've been able to find a bit more documentation about the ODT
format online.

On Wed, Sep 2, 2020 at 12:03 PM Steel Wagstaff <notifications@github.com>
wrote:

--
Apurva Ashok
Project Lead, Rebus Community
Rebus Community <https://about.re

[2020-09-02 16:33] SteelWagstaff opened #333 "Refactor ODT and DOCX exports using PHPWord"
Ned/Dac recommended refactoring existing ODT and DOCX export routines using this well-established library: https://github.com/PHPOffice/PHPWord

[2020-09-11 07:37] colomet opened #334 "Front matter - Chapters - Back matter identification"
### Feature Description

To better understand where the front matter, chapters and back matter starts and finish
![Captura de pantalla 2020-09-11 a las 9 36 35](https://user-images.githubusercontent.com/3929177/92884632-4f956180-f412-11ea-9a3d-bddf2ef72bd6.png)

### Feature Use Case

To be able to understand which content belongs to each section. Now, the front matter is almost clear, but is hard

[2020-09-11 12:18] colomet opened #335 "Front matter and Back matter types review"
### Feature Description

As more options as better and more organised book.
(Also, maybe the description section of the types can be fullfilled with the information of the type)

### Feature Use Case

There are some missing front and back matter important sections. Like Accessibility statement or Copyright page

### Other Notes
Also, there are differences with BC campust that may be nice to integr

[2020-09-17 20:46] kartikmann24 opened #336 "Feature for Importing LaTeX Equations"
### Feature Description

Can we create a feature that would automatically import LaTeX equation from various formats?

### Feature Use Case

This feature would automate and import equations a lot easier and faster for books that are equation heavy.

### Other Notes

-

[2020-09-18 14:55] pb-amy commented on #185
If this ticket gets updated or has progress, please follow up on this thread: https://pressbooks.zendesk.com/agent/tickets/2168 (internal)

This zendesk ticket was sent in on September 15th, 2020 addressing this Issue

[2020-09-21 08:23] sudarshan-gautam commented on #71
anyone can detail me about the code? I am using WordPress and where to paste it?

[2020-09-21 12:30] colomet commented on #71
Example of tutorial about how to do it:
https://www.wpbeginner.com/plugins/how-to-easily-add-custom-code-in-wordpress-without-breaking-your-site/

[2020-09-22 14:01] pb-amy opened #337 "Add support for Traditional Knowledge (TK) notices and labels"
### Feature Description

Internal purposes only: [please refer to this ticket](https://pressbooks.zendesk.com/agent/tickets/2200)

Traditional Knowledge (TK) labels are distinctions for Indigenous knowledge, which is essential for Indigenous content and concepts. TK labels are not equivalent, nor replaceable by Creative Common Licenses. With the importance of protecting Indigenous cultural knowled

[2020-09-24 14:29] #325 closed, assigned to nobody

[2020-09-24 16:45] colomet opened #338 "Dinamic print books"
### Feature Description

to have a QR code in the footer of each page with the print pdf version of a book

### Feature Use Case

if we print a page, the users can later to find the online version of the page where they can see the videos or play the exercises without writing by hand the page URL

### Other Notes

https://es.wordpress.org/plugins/dynamic-qr-code-generator/
https://es.wordpress.org

[2020-09-24 16:49] colomet commented on #338
also, now, instead of multimedia content, we have the url of the dinamic content

![Screen-Shot-2018-03-10-at-6 07 00-PM](https://user-images.githubusercontent.com/3929177/94175309-cad92780-fe96-11ea-9eae-5539527b0e7c.png)

why not a QR instead? or both, so people do not require to write the page url by hand.

[2020-09-25 13:25] lillian-rigling commented on #337
This would be really helpful in the eCampusOntario context as well +1

[2020-09-27 08:30] colomet commented on #338
something like:
![Screen Shot 2014-07-23 at 12 58 12 PM](https://user-images.githubusercontent.com/3929177/94360307-858e4300-00ac-11eb-8496-1fdd0340c8c3.png)

[2020-10-03 16:27] SteelWagstaff opened #339 "Enable code scanning for our main public repos"
See https://docs.github.com/en/free-pro-team@latest/github/finding-security-vulnerabilities-and-errors-in-your-code/enabling-code-scanning-for-a-repository

[2020-10-04 17:46] xaurey commented on #205
+1 On this.
It would be relevant to synchronize contributors between books, so you don't have to recreate the same contributor each time.

[2020-10-04 17:58] xaurey commented on #326
+1
One of the main issue I have with Pressbooks is the impossibility for each author to have his "page" on the network, automatically filled with elements provided in his description, and with a link to the books he/she participated to.
The current way to deal with authors doesn't feel very useful for a good use of this element.
We should be able to add authors/editors/contributors across the netw

[2020-10-11 13:31] colomet opened #340 "Increase width of 'narrow' and 'standard' webbook sizes"
### Feature Description

Webbook Width size Standard from 688px to 728px.

Webbook Width size Narrow from 508px to 560px.

### Feature Use Case

Now, the Webbook Width size is 688px. Which is a good size, I guess. But if there is not any special reason why that size is like that, my suggestion is to change the size to 728px. Also, to change Narrow from 508 to 560px.

The reason is if we need to in

[2020-10-13 13:55] apurvaashok opened #341 "Hyperlinks and glossary terms have different display/link colours"
### Feature Description

Glossary terms and hyperlinks in a Pressbooks text are assigned the same primary network colour. This makes it hard for students to distinguish which links will display the tool-tip pop-up with a term definition and which ones will take them to an external site or elsewhere in the book. Glossary terms are bolded, but this doesn't provide enough distinction. See example bel

[2020-11-05 20:07] richard015ar commented on #323
PRs for front end changes:
- https://github.com/pressbooks/pressbooks-lti-provider/pull/113
- https://github.com/pressbooks/pressbooks-network-analytics/pull/102
- https://github.com/pressbooks/pressbooks/pull/2052

**Blacklist** was not found in any front end / template.

[2020-11-05 21:18] laesoph commented on #321
Hi Hugh: This would enhance the adoption work for BCcampus and could be useful if we could tag books in the BC collection with confirmed BC adoptions (by course code, and to allow others to search using the course code), as well as determine which course adoptions are transferable to other BC post-secondary courses (see https://www.bctransferguide.ca).

[2020-11-05 21:46] SteelWagstaff commented on #323
@pb-amy All guide chapters have been updated with improved language. I think we can probably leave the old blog posts, but will defer to your judgment there.

[2020-11-06 16:04] SteelWagstaff commented on #323
Whitelist has been replaced with Allowlist in the user interface in Pressbooks, the Network Analytics plugin, and the LTI provider plugin on integrations and textopress. Ready for release!

[2020-11-06 16:04] #323 closed, assigned to SteelWagstaff

[2020-11-12 17:41] richard015ar opened #342 "[Research] - Visual feedback"
From [Testing process](https://docs.google.com/document/d/1CSeS6fi5cP3xj-tfcyA86NjPNL5JJ13IhASm0ZpUtws/edit#):

To achieve and document that, we could use some tools like BugHerd and Mouseflow.

Try [BugHerd](https://bugherd.com/) (tool to collect client feedback) and [Mouseover](https://mouseflow.com/) (to collect information about the usage), research and document here how it works and search fo

[2020-11-23 20:14] SteelWagstaff opened #343 "Update fetcher to handle non-book API attributes"
Pressbooks staff would like to mark specific books on our hosted EDU networks as 'featured' books so that they could be displayed in a place of prominence on other web resources we control (like the pressbooks.com marketing site and the Pressbooks Directory, to give two examples).

Idea: we should add an 'is_featured' metadata field in the Algolia index and change it directly there. Our front-end

[2020-11-23 20:35] hughmcguire commented on #343
My preference would be to make this part of the backend of Directory, rather than a Superadmin on PB Networks.
Reasons:
-- we control what is on the Directory, it is our index of what is available in the PB universe, and should evolve as the best/easiest place to find great books available in the PB ecosystem
--  It gives us one place to start light curation of content, rather than many disparate

[2020-11-23 20:41] hughmcguire commented on #343
Note that this could result in default sorting, so that eg when you select: `biology`, the first 10 items could be sorted by `featured` ...

this then makes it easy to build out the directory so that any given subject can be populated with lightly-curated quality content.

meaning that when we are setting up a new network, we could more easily offer curated selection on quality content to pre-popu

[2020-11-24 18:57] SteelWagstaff opened #344 "Build feature books display spec/mockup"
See https://github.com/pressbooks/ideas/issues/343

- [ ] provide devs with front end mockup for featured book display

[2020-11-24 21:30] SteelWagstaff commented on #343
@hughmcguire we're thinking to add two metadata fields for each Algolia record for now. One would be 'is_featured' and could be used to indicate that the book should be used in 'featured books' displays on the directory or our marketing site (probably no more than a dozen books at any one time, and could be changed as needed). The other would be 'is_recommended' and could be applied to thousands o

[2020-11-24 21:31] hughmcguire commented on #343
@SteelWagstaff excellent.

[2020-11-27 18:05] richard015ar commented on #343
About update records massively (create a new field or change anything): There is not a way to do it through the interface, and there is not a single API method to do that, except we specify the ObjectID (identifier): https://discourse.algolia.com/t/update-a-field-in-all-objects/7183

In order to achieve that I will create an script that reads the records and [update](partialUpdateObjects) those us

[2020-11-27 18:38] richard015ar commented on #343
I created an script for massive update. I added the new fields for test_Pressbooks_directory (and replicas) indexes. After confirmation that it looks as expected and fetcher solution is applied, we are ready to update to production, dev and staging indexes.

[2020-12-03 22:54] pb-amy opened #345 "Include custom features (CSS, formatting) into Cloning process"
### Feature Description

Cloning only really brings over core content - metadata, H5P, glossary, images, content; everything that composes the core HTML content. It does not factor for themes, inline HTML (i.e. table formatting) and custom CSS.

We have received many suggestions to have custom adjustments included in the cloning process to have an exact copy of a cloned book.

### Feature Use Case

[2020-12-04 20:03] richard015ar opened #346 "[Research] Simple plugin to add necessary metadata for Presbooks Directory"
Research about Books API Interception in Presbooks Plugin in order to add necessary fields from a separate plugin. In that way we could have compatibility with Dierctory Fetcher without install the latest PB version. Also, it could be useful if we need to update the API for PB Directory.

- [x] Review Dac's previous notes/work in https://github.com/pressbooks/pb-api/issues/3
- [ ] Research what wo

[2020-12-13 16:50] richard015ar commented on #342
I've been testing [FullStory](https://fullstory.com), since MouseFlow doesn't allow local tests. FullStory allow it through an script inserted on the header (I did it using `wp_head` hook in my local environment), and the results are interesting.

Here some screenshots using my trial account. I used a Firefox and Chrome sessions in the Admin PB Dashboard and other sections:
![Screenshot from 2020-

[2020-12-15 17:33] pb-amy opened #347 "Include screenshot for H5P activities in PDF/ePUB exports"
### Feature Description

Related to this issue: https://github.com/pressbooks/ideas/issues/263 - which had suggested printing static H5P activities in PDF/ePUB for practice purposes.

### Feature Use Case

It will provide context for H5P activities (what does it look like? what kind of questions? what activity type?) as right now, the PDF and ePUBs have no context for what kind of non-static activ

[2020-12-16 18:51] pb-amy commented on #328
Client request again in: https://pressbooks.zendesk.com/agent/tickets/3258

[2020-12-16 22:25] SteelWagstaff opened #348 "Integrate BeeLine with the webbook reader and provide a BeeLine compatible export format"
### Feature Description

BeeLine can be integrated with reading platforms. See https://blog.libretexts.org/2019/10/25/beeline-reader-on-libretexts-making-reading-on-screen-easier/. Some of our users have requested that we build a similar integration for Pressbooks, so that users could activate BeeLine's features without having to install the browser extension.

They've also requested making a BeeL

[2020-12-22 15:34] SteelWagstaff opened #349 "Add default 'blog description' option for network managers"
### Feature Description

The default blog description field for all new books is “Simple Book Publishing.” In Pressbooks 3.9.7, we added a filter to allow the default root description to be changed: https://github.com/pressbooks/pressbooks/blob/d3275b9c903363cf66d1a344d75b2d7069c7f146/inc/class-activation.php#L321-L332, but never built a front-end tool to allow network managers to make use of this

[2021-01-05 20:06] pb-amy opened #350 "Improve & expand webbook search bar capabilities"
### Feature Description

Lots of people rely on the webbook search bar to look for keywords and phrases within the book. Though the webbook search bar is functional, it's not the most reliable way to search for things. Improvements can be made specifically regarding:
1. Specific strings
2. Footnotes
3. Glossary definitions
4. Ideally, we would also move the location of the search bar to somewhere

[2021-01-06 18:24] richard015ar opened #351 "[Research] - Sentry plugin for PB integration"
We have recently integrated Sentry (an application monitoring and error tracking tool) with Pressbooks, and added the code to do so directly to the core Pressbooks plugin. PR: pressbooks/pressbooks#1956. See also https://github.com/pressbooks/private/issues/130#issuecomment-634938654
[code]
We also have the desire to add front end application monitoring to our hosted instances of Pressbooks: https

[2021-01-07 17:49] SteelWagstaff opened #352 "[Feature] Allow admins to create permanent redirects from one book to another URL"
**Use case:** A person initially publishes a book on pressbooks.com (or some other network). Later, the 'canonical' version of book has been moved to a new location (a PressbooksEDU network or its own website). They would like to set up a permanent redirect pointing the old URL (i.e. https://steelsbook.pressbooks.com) to the new URL (i.e. https://university.pressbooks.pub/steelsbook). We should al

[2021-01-19 15:16] richard015ar opened #353 "Define JavaScript coding standard"
Define a JS coding standard. Right now we are using different standards for different JS Projects.

Related issue: https://github.com/pressbooks/pressbooks-book-directory-fe/issues/85

[2021-01-20 18:32] SteelWagstaff commented on #353
We use HumanMade's ESLint (https://github.com/humanmade/coding-standards/tree/master/packages/eslint-config-humanmade) in our coding standards: https://github.com/pressbooks/pressbooks-build-tools/blob/3788a522ea81b9b46f10ec97dc63321c7e320824/package.json#L30. We can extend our own rules here: https://github.com/pressbooks/pressbooks-build-tools/blob/master/config/eslint.js.

[2021-01-21 01:12] cogdog commented on #263
Would also help if the URL shown in the PDF version linked to an anchor based on the iframe ID or maybe even a direct open of the H5P item- more details here http://kitchen.opened.ca/2021/01/19/h5p-in-print-pdf/

[2021-01-21 01:29] cogdog opened #354 "Total Count on h5p-listing"
### Feature Description

It's very helpful to have the generated list of all H5P activities in a published Pressbook (even if someone has to manually tack `/h5p-listing` on the book URL) - in introducing authors to the potential of H5P it helps when they can access a full listing of ones in a book. If I am working with a sociology professor on adding practice problems to an adopted textbook, I wou

[2021-01-24 14:37] colomet opened #355 "Ensure Text Remains Visible During Webfont Load"
### Feature Description

add font-display: swap in your @font-face style to avoid FOIT.

### Feature Use Case

Fonts are usually large files and take a lot of time to load.

There’s a reason why Google flags this behavior. Some browsers won’t render text until all the fonts are loaded. This causes what’s known as Flash of Invisible Text (FOIT).

You can fix this by forcing the browser to temporari

[2021-01-28 05:16] SteelWagstaff commented on #355
@colomet This is a good idea -- thank you for the suggestion!

[2021-01-28 05:19] SteelWagstaff commented on #354
@cogdog This is a great idea. As far as why the H5P link doesn't point to the h5p-listing page, the answer is that it used to (this was our original intention). The problem is that the h5p-listing page is just a quick demo prototype (it's kind of a hidden easter egg at present) and isn't really stable enough to attract a lot of visitors. Once we fix https://github.com/pressbooks/pressbooks/issues/

[2021-01-28 05:26] SteelWagstaff commented on #354
@cogdog FWIW, the number of H5P activities in public books is currently available from the books API endpoint. If you visit https://pressbooks.bccampus.ca/wp-json/pressbooks/v2/books/ for example, you'll see that each book record now has a field called "h5pActivities" with an integer value. That integer is the number of H5P activities that exist in that book's database table. See https://docs.pres

[2021-01-28 05:35] SteelWagstaff opened #356 "Add unique anchor for each H5P activity, reference these in PDF exports"
### Feature Description

When we process the H5P shortcode and create the embedded iframe, it would be ideal if we added an unique anchor to each activity so that the the activity could be directly linked to in the webbook and various export formats. I'm not sure whether we can filter the shortcode behaviour in Pressbooks, or whether we'd need to submit a PR upstream to the H5P WordPress plugin: h

[2021-01-28 05:38] SteelWagstaff commented on #263
@cogdog I agree that would be helpful. Have created a separate issue for that idea: https://github.com/pressbooks/ideas/issues/356. I suspect we might have go upstream to H5P's WP plugin to generate the necessary anchors, but will keep you updated as we dig in deeper and learn more.

[2021-01-28 21:35] SteelWagstaff opened #357 "Display book series info on book homepage"
### Feature Description

Book info allows users to input series name & number:
![Screenshot from 2021-01-28 13-31-52](https://user-images.githubusercontent.com/13485451/106201368-339a1e80-616d-11eb-91f3-201a90d6ac33.png)

This information does not appear to be exposed via API nor is it displayed anywhere by default. It doesn’t display on book homepage or file exports. When present, add this info t

[2021-01-28 21:54] SteelWagstaff opened #358 "Display pending invites to books on user dashboard"
### Feature Description

Sometimes users have pending invitations to join a book. When this is true, display a 'pending invite' notice on their user dashboard which allows them to confirm the invitation and join the book.

Sample screenshot of user dashboard for a user with an account but no confirmed roles in a book:
![Screenshot from 2021-01-28 13-42-49](https://user-images.githubusercontent.com

[2021-01-29 22:38] SteelWagstaff opened #359 "Overhaul & improve contributors feature"
### Feature Description
Currently, users can enter very limited information about contributors:
![Screenshot from 2021-01-29 14-21-47](https://user-images.githubusercontent.com/13485451/106334357-5137b880-623f-11eb-858b-63bb9025c0da.png)

We should allow people to associate and display more identifiying information about contributors. It may also make sense to allow people to associate similar inf

[2021-02-02 17:26] alexdryden commented on #134
@SteelWagstaff I have begun working on this issue for the needs that @dgtracy mentioned above, but I'd like to address as many of the other needs listed/linked here as possible. With regards to

are you able to take a look at some wireframes I mocked up and give me feedback?

[2021-02-02 19:17] SteelWagstaff commented on #134
@alexdryden Would be delighted to. This has been on our roadmap for too long now, and it would be great to get some positive movement on this issue.

[2021-02-02 20:18] alexdryden commented on #134
@SteelWagstaff sounds great, thanks! I've got the wire framing started with commenting turned on, but you may rather keep all discussion under this issue: [wire frame](https://pidoco.com/rabbit/invitation/uBqD7J2is9wIKS3Hv3WQ1xtCmpEGsybjnvj0TxB0).

I've started by just addressing "how should a secondary contributor appear on the cover page." Our needs would require any arbitrary combination of con

[2021-02-04 21:13] SteelWagstaff commented on #346
Compare with https://github.com/pressbooks/pb-api/issues/3?

[2021-02-11 04:55] #266 closed, assigned to ho-man-chan

[2021-02-11 05:11] #343 closed, assigned to richard015ar

[2021-02-11 05:43] #208 closed, assigned to nobody

[2021-03-04 22:19] NMSalmon commented on #359
I'd love to plus one this request! I'm working with a team at UW who would really appreciate the ability to display what's in the "description" field, and I love the idea of having links to Orcid etc.

As more folks get involved with cross-institution open pedagogy projects or cross-department resource-sharing efforts, this feature will be more and more relevant.

[2021-03-04 22:45] SteelWagstaff commented on #359
Thanks @NMSalmon! I'm working this month on turning this into an epic that we can start tackling soon (possibly as soon as Q2 of this year). See https://github.com/pressbooks/pressbooks/issues/2096 for broad strokes of current thinking (more to come soon).

[2021-03-05 04:43] Sarahfennessey opened #360 "Ability to submit/view ratings and reviews of Pressbooks books"
### Feature Description

### Feature Use Case

### Other Notes

[2021-03-10 15:06] pb-amy commented on #316
Oregon State has responded in support/favour of this ticket. (internal: request can be found on [Zendesk](https://pressbooks.zendesk.com/agent/tickets/4506))

[2021-03-11 14:59] pb-amy commented on #349
Mentioned in another client interaction: https://pressbooks.zendesk.com/agent/tickets/4528

[2021-03-12 23:27] SteelWagstaff commented on #260
@colomet We are not planning to change the permalink structure for Pressbooks itself anytime soon, but you could probably do this in your own fork, if it was important to you? You can already load a chapter using its post number. For example `https://integrations.pressbooks.network/opentextbookswithstudents/?p=20` will resolve to the chapter with permalink `https://integrations.pressbooks.network/

[2021-03-13 02:57] dac514 commented on #346
Before Pressbooks had API V2, Brad from BcCampus had contributed API V1.
V2 was built on WordPress REST API.
V1 was not (such a thing did not exist.) Here is the PR that introduced API V1 in 2014:
https://github.com/pressbooks/pressbooks/pull/70

To make room for V2, Brad's code was moved out of core into `pb-api`.
The idea was that we might need to support V1 if BcCampus still needed it.
The issu

[2021-03-13 15:26] colomet commented on #260
Thanks for the message

Yes, I do use that one for internal use.

But I´m worried about if authors change the URL of the page and that breaks the students saved links.

[2021-03-13 18:28] SteelWagstaff opened #361 "Decide what to do about MOBI files"
Amazon has retired the Kindlegen tool that Pressbooks has historically used to generate MOBI exports. See [note](https://www.amazon.com/gp/feature.html?ie=UTF8&docId=1000765211):

Kindle Previewer is a free desktop application: https://www.amazon.com/gp/feature.html?ie=UTF8&docId=1000765261

Their FAQ notes that the tool provides a command-line option:

Section 3 of the Kindle Preview user guide c

[2021-03-14 17:03] colomet commented on #361
Option 2 looks the most appropriate (since Calibre works, there is no reason to have two ebooks formats).

[2021-03-17 16:11] SteelWagstaff opened #362 "Improve EPUB export routine"
### Feature Description

At present, Pressbooks allows users to produce EPUB exports in two formats: 2.01 and 3. EPUB 2 is still the default 'supported' format, and EPUB 3 is listed as an 'Other format'.

![Screenshot from 2021-03-17 09-03-13](https://user-images.githubusercontent.com/13485451/111498894-a05a7f80-86ff-11eb-9881-49f7f0102fd2.png)

The EPUB 2 spec was approved in 2007, with [2.01](ht

[2021-03-19 11:17] pbstudent opened #363 "Hyphenation control"
### Feature Description
Enable or Disable Hyphenation for Web and eBook

### Feature Use Case

CSS does not always work for a particular book site. Need to have greater control of hyphenation in Theme Options - web  and ebook

### Other Notes
Sometimes the CSS for hyphens: none works but not consistently for all book sites as per https://pressbooks.community/t/how-do-you-stop-hyphenation-in-all-st

[2021-03-21 18:14] beckej13820 commented on #361
I like both options 1 and 2. In favor of 1: Kindlegen is doesn't seem to have changed at all in a very long time, so continuing to use the old version seems to be a reasonable thing for as long as it continues to work. I was setting up a new Pressbooks on Linux, and was able to find KindleGen by using a version archived by the internet archive. For Mac and Windows users, the Kindle Previewer progr

[2021-03-23 22:37] SteelWagstaff commented on #352
Issue should be resolved at next deploy through the addition of Redirection and pressbooks-plugin-config plugin to our bedrocks. The ability to create/manager redirects will only be available for super admins on Pressbooks-hosted networks. Open source users who are interested in this ability may want to consider the use of https://redirection.me/

[2021-03-24 23:27] beckej13820 commented on #338
Similar to this previous idea:

https://github.com/pressbooks/ideas/issues/69

[2021-03-26 17:27] SteelWagstaff opened #364 "Create GitHub workflow.yml template for Pressbooks repos"
We are considering replacing TravisCI with GitHub actions for CI processes. We should create a GitHub workflow.yml template for plugins based on what we've learned from implementing CI builds in Malala/BISAC/Pressbooks and schedule short team meeting to teach the rest of team.

We will then begin applying this template whenever a plugin that currently uses Travis needs modification. See https://gi

[2021-03-26 20:49] richard015ar commented on #351
I created this doc: https://docs.google.com/document/d/1nagi-5CaASGd-4nhR8w2YldHK4do8VVAOPDoukfDdGU/edit#
@SteelWagstaff do you think we should include a meeting to take the decision in this ticket? or do you prefer I create a separate ticket for review this doc and decide together the approach?

[2021-03-28 22:30] SteelWagstaff commented on #351
@richard015ar I think adding a short meeting to discuss your research report and decide on our proposed approach would be a good idea. It's fine with me to do this as part of this ticket and to create new tickets for any decisions/work that flows out of that meeting.

[2021-03-28 22:39] #352 closed, assigned to SteelWagstaff

[2021-03-30 14:05] #351 closed, assigned to richard015ar, SteelWagstaff

[2021-03-30 15:17] LeighKP opened #365 "Change the default book cover image"
### Feature Description

Please switch the default book cover (the red type writer and the word Pressbooks) to an updated version that does not feature a type writer. This is a bandaid solution until we can do something more dynamic (e.g. a cover generator, Cesar once made one for Rebus that was super cool).

### Feature Use Case

Now that the search results display sorted by most recently updated

[2021-03-30 15:32] SteelWagstaff commented on #365
Related to larger epic: https://github.com/pressbooks/pressbooks/issues/2097

[2021-04-07 23:14] SteelWagstaff commented on #356
Upstream PR has been merged to master but not released in tagged plugin version: https://github.com/h5p/h5p-wordpress-plugin/compare/1.15.0...master

[2021-04-08 13:35] hughmcguire opened #366 "Enhance Tweet this book code, with richer info/metadata/images (using Twitter Cards?)"
### Feature Description

Amplifying (& helping to amplify) PB books is one of our main goals for the year. A driver of engagement with PB books is Twitter, and we have simple code embedded already in PB that auto-generates a link that says, eg:
`Check out this great book on Pressbooks. press.rebus.community/introductionto… via @pressbooks`

However, we don't add much rich info.

Twitter cards make

[2021-04-08 20:59] #364 closed, assigned to arzola

[2021-04-08 20:59] SteelWagstaff commented on #364
See https://github.com/pressbooks/snippets/tree/master/github-actions

[2021-04-12 18:36] SteelWagstaff commented on #365
Hugh's requests:
1. good background colour contrast against black/grey background (colour palette drawn from within pressbooks colour family)
2. capture book & digital with our illustrations (not book and book)
3. show how new cover looks on webbook home page & directory

[2021-04-14 15:47] SteelWagstaff opened #367 "Generate OPDS 2.0 feed for published books"
### Feature Description

We produce metadata/microdata for all books using schema.org taxonomy and expose this information for all public books via  [REST api](https://docs.pressbooks.org/rest-api/). Sample book endpoint at https://integrations.pressbooks.network/wp-json/pressbooks/v2/books. [Pressbooks Directory](https://pressbooks.directory/) displays JSON metadata for thousands of educational b

[2021-04-14 18:29] SteelWagstaff commented on #283
Next steps:
- [x] Write a GitHub action that updates translation/localization files (push terms, pull translations) automatically upon each PR. Instead of auto-committing, start by adding this to the GH actions check as a 'test artifact': https://docs.github.com/en/actions/guides/storing-workflow-data-as-artifacts#uploading-build-and-test-artifacts. PR for all repos at once.
- [x] Automatic locali

[2021-04-16 14:42] NMSalmon opened #368 "Nested Numbered Lists - increase distinction between top-level and secondary/tertiary numbers"
### Feature Description

Currently, if you add an indent to an entry in a bulleted list, you get a different bullet symbol to distinguish top-level bullets from bullets nested beneath them. In contrast, numbered lists also have the ability to nest, but they use the same numbering format within the nested lists. In some contexts, this can be slightly confusing.
<img width="176" alt="nested numbered

[2021-04-16 14:55] NMSalmon commented on #350
I'd love to see better searching for authors/contributors included in this improvement/expansion effort too!

An example use case: I'm working on a teaching sourcebook where a number of different instructors have submitted sample assignments for other instructors to use. If "Elizabeth Marple" is the author associated with three different pages in the text, her name shows up at the top of each of t

[2021-04-16 15:20] NMSalmon opened #369 "Address irregular spacing issue within table cells"
### Feature Description
If the contents of a table cell aren't fully contained in one "paragraph" - that is, if I hit enter while typing or copy-paste content that includes multiple lines, the second portion of the text within the published cell looks bigger and more widely spaced than the top portion of the text.

<img width="661" alt="spacing issue in pressbooks tables" src="https://user-images.

[2021-04-16 19:46] pb-amy opened #370 "Creating a CAPTCHA for the contact submission form on Aldine"
### Feature Description

Request from this client ticket: https://pressbooks.zendesk.com/agent/tickets/5032

On the Aldine theme, there is a [contact submission form](https://networkmanagerguide.pressbooks.com/chapter/customizing-network/#contactform) that can be included.

Currently, anyone can send an email through the submission form, with no blockers on who is able to send the inquiry. This ca

[2021-04-16 23:35] SteelWagstaff commented on #283
PRs for review:
https://github.com/pressbooks/pressbooks-lti-provider/pull/123
https://github.com/pressbooks/pressbooks-saml-sso/pull/67
https://github.com/pressbooks/pressbooks-cas-sso/pull/51
https://github.com/pressbooks/pressbooks/pull/2140
https://github.com/pressbooks/pressbooks-book/pull/762
https://github.com/pressbooks/pressbooks-aldine/pull/236

[2021-04-19 13:56] beckej13820 opened #371 "New "Section Opening" option: Only Parts start new pages"
### Feature Description

This idea is for a feature in the PDF options. Instead of having every chapter have a page break and start a new page, this option would have only parts start a new page.

### Feature Use Case

The hope is that a setting could be created that would essentially make the book look like a Pressbooks with "2 layer Table of Contents" turned on, but without having to reformat or

[2021-04-19 14:11] ho-man-chan commented on #283
@greatislander @SteelWagstaff I noticed the pull requests only create the .POT file and it does not update the .mo, or .po file described in the release process. Would that be needed?

https://github.com/pressbooks/private/wiki/Release-Process

[code]

[2021-04-19 14:38] SteelWagstaff commented on #283
@ho-man-chan These PRs that Ned has opened only deal with the POT files as a proof of concept. Once we review the artifacts these product and think they look good (i.e. set them to auto commit), Ned will open another set of PRs which take the same approach & auto update the .po and .mo files (first we will create artifacts for review, then we'll switch to auto commit once we feel good about it).

[2021-04-21 14:26] pb-amy commented on #328
Another client request in: https://pressbooks.zendesk.com/agent/tickets/5081

[2021-04-21 14:55] SteelWagstaff commented on #368
This value comes from list-style-type. We'll need to check this value in McLuhan and confirm that it's being set as expected.

[2021-04-21 14:58] SteelWagstaff commented on #369
We're targeting .chapter table and applying font-size .9em, but the subsequent content is wrapped in autop and that content is targeted by our .chapter p rule, which has font-size 1.125em. We can fix in McLuhan/Buckram.

[2021-04-23 14:17] greatislander commented on #283
Follow-up PRs:

- https://github.com/pressbooks/pressbooks/pull/2145
- https://github.com/pressbooks/pressbooks-book/pull/764
- https://github.com/pressbooks/pressbooks-aldine/pull/237
- https://github.com/pressbooks/pressbooks-lti-provider/pull/124
- https://github.com/pressbooks/pressbooks-cas-sso/pull/52
- https://github.com/pressbooks/pressbooks-saml-sso/pull/69

[2021-04-23 18:05] SteelWagstaff commented on #356
Upstream changes have been released in H5P 1.15.2

[2021-04-29 18:54] SteelWagstaff opened #372 "My great idea"
### Feature Description

I'd like to import Google Docs into Pressbooks.

### Feature Use Case

This would be great for anyone who collaborates in Google Docs and then wants to publish a book in pressbooks, so lots of people.

[2021-04-29 20:34] laesoph commented on #372
I added this to the BCcampus Pressbooks Guide a few years ago: https://opentextbc.ca/pressbooks/chapter/import-google-doc/

For those wanting to import an OpenStax book into Pressbooks, in an OpenStax Feb 7, 2020 [article about the retirement of CNX.](https://openstax.org/blog/saying-goodbye-cnx) it states that "By fall 2020, **Google Docs** will house customizable versions of OpenStax textbooks t

[2021-05-01 14:57] richard015ar opened #373 "Dark theme for PB directory"
Taking advantage of the PB Directory UI refactor, would be cool to add a new option to implement an optional dark theme.
See pros and principles here:
- https://material.io/design/color/dark-theme.html
- https://blog.weekdone.com/why-you-should-switch-on-dark-mode/

[2021-05-06 22:53] arzola commented on #356
@SteelWagstaff could we add the H5P plugin 1.15.2 in the golden bedrock ? https://github.com/pressbooks/pressbooksedu-golden-bedrock/blob/staging/composer.json It seems very restricted that repo

[2021-05-06 23:25] SteelWagstaff commented on #356
H5P is already in the repo as https://github.com/pressbooks/pressbooksedu-golden-bedrock/blob/69a2a5d2467f1e19109b5eb69c55854d06b53df1/composer.json#L104 and package.lock has it at 1.15.2: https://github.com/pressbooks/pressbooksedu-golden-bedrock/blob/69a2a5d2467f1e19109b5eb69c55854d06b53df1/composer.lock#L7415. If you're having trouble with it, maybe you can bump it locally by running `composer

[2021-05-11 19:09] iku1deep opened #374 "Sprint April 26 - May 7"
I can't see the contents

[2021-05-11 19:24] SteelWagstaff commented on #374
HI @iku1deep sorry about that. Nearly all of the issues we were working on in this sprint are in private repositories, which mean that they'll be invisible to people outside of the Pressbooks organization for now. The sprint goal was to "Get v2 of Pressbooks Directory ready for launch, start Business Intelligence dashboard research, & work on bug fixes for Pressbooks." We do host monthly product u

[2021-05-11 19:24] #374 closed, assigned to nobody

[2021-05-12 18:35] NMSalmon commented on #153
Circling back to this idea! A group at the UW Writing Center reached out recently who might particularly benefit from this approach. (They're _considering_ PB as an option for their Writer's handbook. However, for teaching purposes, they would like to continue having a page-specific pdf download option linked on each page rather than a PDF of the whole book as a large single download.) Was there e

[2021-05-14 15:57] SevenSidedSquare opened #375 "Improve "scroll to top" navigation in reading interface"
### Feature Description

The scroll to top button in the reading interface can be distracting in the middle of the screen. Suggest placing it to the side.

[2021-05-17 21:10] SteelWagstaff opened #376 "[Research] Explore Gutenberg compatibility with Pressbooks"
### Feature Description

The [Gutenberg](https://github.com/WordPress/Gutenberg) editor for WordPress is approaching greater maturity. Promised support for the classic editor from WordPress core team is through 2022. We should research the feasibility and desirability of allowing Pressbooks users to create content using the Gutenberg editor or a restricted subset of it.

### Other Notes

See previ

[2021-05-17 21:21] SteelWagstaff opened #377 "[Feature] Allow authors to indicate that a book project is seeking contributors"
### Feature Description
As a book author, I'd like to be able to indicate that my book is 'seeking contributors/collaborators', describe the kind of contributions or collaborations I'm open to, and provide a method for interested collaborators to contact me.

### Other Notes

Basic feature idea would be to add a few sections to the book info page:
1. A text input field that allows book admins to p

[2021-05-18 21:49] SteelWagstaff commented on #365
The default cover image (and user uploaded cover image) is displayed on the webbook's homepage and included as an internal cover image for ebook exports.

Here are some recommended cover image specs for ebooks:

Amazon: For cover images included with books: "Kindle eBooks must have a marketing cover image provided for use on the website detail page. This is provided separately from the eBook file.

[2021-05-19 16:02] hughmcguire opened #378 "Add a filter to Directory to sort by course level, or at least by institution type"
### Feature Description

Mechanism to filter directory results by course level (or at the least by institution type, ie to show content from Community Colleges).

### Feature Use Case

Different institutions want different kinds of content for different levels of course. Particularly there is a difference among:
- community college courses
- 4 year university courses
- graduate level courses

Curr

[2021-05-22 17:05] SteelWagstaff commented on #362
Alex Cabal from standard ebooks used Pressbooks.com to create a sample book and generic EPUB 2.01 export. He then wrote me the following very helpful message:

[2021-05-29 18:05] colomet commented on #365
I think is important to decided the aspect ratio and if Amazon have the most limited dimensions 2,560 x 1,600 pixels, we must keep that consistency, in order to be able to work with them, since by working with Amazon, we are able to work with apple too, and maybe many other platforms, since they would use to have those main platforms as reference.

And to maintain our site different than theirs, w

[2021-06-02 20:59] gregbem opened #380 "Tooltips for reading"
### Feature Description

We have had several folks communicate with us on the PB navigation layout and functions, unsure of how to click through the book. Objectively the layout is a bit confusing and non-intuitive. I think a tool tip or tutorial that would pop-up for a specific user or browser would be great, to indicate that the CONTENTS drop-down is one way to read the book, and clicking on the

[2021-06-02 21:05] SteelWagstaff commented on #380
Thanks for the suggestion @gregbem -- we recently built a 'Tour' for the new Directory we built at https://pressbooks.directory/ and have been considering a similar approach to the main Pressbooks reading interface as well. Will keep you updated on any future progress for this idea.

[2021-06-04 01:56] SteelWagstaff commented on #365
Hi @colomet, just to clarify, the cover image uploaded to Pressbooks via book info isn't ever used or consumed by Amazon or other book publishing services. This cover image is only displayed on the book home page and correspondes to the 'interior cover image' described in the passages in original ticket. Cover images uploaded to Amazon and other services have to be uploaded separately.

[2021-06-04 17:39] colomet commented on #365
yes, I know, but since we can have the same image ratio and size. Why not to upload our image with the amazon size in order to not to pay twice to an illustrator?

In that way, if in the future we do upload the book to amazon, we can use the same image.

i think, notting chages to pressbooks and helps authors in the future.

[2021-06-04 17:41] NMSalmon commented on #118
Has this feature idea gotten any additional traction? This would be an amazing improvement!

[2021-06-05 18:41] SteelWagstaff commented on #14
@colomet Closing this as we won't be adding this anytime soon to Pressbooks core. Thanks for the suggestion, though!

[2021-06-05 18:41] #14 closed

[2021-06-05 18:51] SteelWagstaff commented on #48
@colomet this is already possible with the import from webpage or Pressbooks webbook option -- if you enter the URL of a Pressbooks title, you can clone all or part of that book into an existing title. We will not be adding the ability to overwrite existing content via cloning operation anytime soon, so closing this ticket for now.

[2021-06-05 18:51] #48 closed

[2021-06-05 18:52] SteelWagstaff commented on #51
We won't be changing this in the near future. The workaround proposed (linking to a copyright notice elsewhere in the book), seems to offer a decent alternative for very long copyright statements. Closing for now.

[2021-06-05 18:52] #51 closed

[2021-06-05 18:56] SteelWagstaff commented on #60
@colomet some of these are available through https://github.com/pressbooks/pressbooks-stats. Other usage information can be obtained through Google Analytics integration: https://networkmanagerguide.pressbooks.com/chapter/configuring-google-analytics-for-pressbooks/. For enterprise customers, we provide additional dashboards with more user and book information (see chapters 4-6 in the Network Mana

[2021-06-05 18:56] #60 closed

[2021-06-05 18:57] SteelWagstaff commented on #64
Thanks for this suggestion. Closing in favor of https://github.com/pressbooks/pressbooks/issues/2182, which is in our backlog.

[2021-06-05 18:57] #64 closed

[2021-06-05 18:59] SteelWagstaff commented on #65
We won't be changing this in near future. You should be able to suppress yourself on a self-hosted network, if desired.

[2021-06-05 18:59] #65 closed

[2021-06-05 19:01] SteelWagstaff commented on #71
Closing as we won't be implementing this is Pressbooks core in near future, but open source users are welcome to read this thread for ideas about implementation on their own.

[2021-06-05 19:01] #71 closed

[2021-06-05 21:53] SteelWagstaff commented on #39
Closing as we have no plans to hide the login button in Pressbooks core. Open Source users could hide or move this link through theme. The current 'Sign In' link in the top menu is controlled in the Aldine theme here: https://github.com/pressbooks/pressbooks-aldine/blob/a22ff75e833d0c43eb2771994d188658eb80d712/inc/helpers/namespace.php#L183-L188

[2021-06-05 21:53] #39 closed

[2021-06-05 21:57] SteelWagstaff commented on #73
Thanks for the suggestion, @colomet. We're not changing the default style of McLuhan because it was built to specification for a client. Closing this idea.

[2021-06-05 21:57] #73 closed

[2021-06-05 22:08] SteelWagstaff commented on #76
As a network manager, you can already define the default thumbnail sizes used when media files are uploaded to your WordPress/Pressbooks network by visiting `https://YOURNETWORK.URL/wp-admin/options-media.php`. If you decide to change your default thumbnail sizes, you can use this plugin to regenerate them: https://wordpress.org/plugins/regenerate-thumbnails/.

[2021-06-05 22:08] #76 closed

[2021-06-05 22:10] SteelWagstaff commented on #78
@johnpeterm Thanks for the suggestion. Closing as this would probably require setting cookies to remember logged in user behavior that we don't want to add to Pressbooks at this time.

[2021-06-05 22:10] #78 closed

[2021-06-05 22:13] SteelWagstaff commented on #85
@colomet you can edit this manually by visiting `https://YOURNETWORK.URL/wp-admin/network/site-settings.php?id=#` with the ID number for your book inserted in the place of `#`. Closing this issue, as we've added a similar feature to our product backlog: https://github.com/pressbooks/ideas/issues/349

[2021-06-05 22:13] #85 closed

[2021-06-05 22:17] SteelWagstaff commented on #113
Fixed with latest release of the LTI provider 1.3 plugin

[2021-06-05 22:17] #113 closed

[2021-06-05 22:20] SteelWagstaff commented on #118
We had initial conversations with Lumen Learning about their funding our development of a potential replacement for their Candela Citations plugin, but they ended up going a different direction. It's in our backlog but we don't have any immediate plans to build this feature. Hope we're able to get to it before too long -- it's really a great idea.

[2021-06-05 22:28] SteelWagstaff commented on #134
@alexdryden Love the wire frame concept and display. Are you working on this as a potential fork or pull request, or was the wire frame primarily meant to give us design inspiration for something we'd develop?

[2021-06-05 22:50] alexdryden commented on #134
@SteelWagstaff Great! I had in mind a pull request, but wanted to make sure it was along the same lines as what you all were thinking before committing too much development time to it. I can go ahead mock up the back end interface I had in mind  as well, and, if all looks good, start working on a prototype toward the end of June.

[2021-06-05 22:53] SteelWagstaff commented on #214
The required dependency is EPUBCheck.

[2021-06-05 23:07] SteelWagstaff commented on #229
Karla was converted to a Variable font with 12 styles & now includes a more complete glyphset to support Western, Central, and South-Eastern European languages. See https://github.com/googlefonts/karla/blob/ea3a7783efad1b3620df03566affccd836fc00e6/FONTLOG.txt#L25-L27

[2021-06-05 23:07] #229 closed, assigned to nobody

[2021-06-05 23:07] #230 closed, assigned to nobody

[2021-06-05 23:13] #244 closed, assigned to nobody

[2021-06-05 23:18] #249 closed, assigned to nobody

[2021-06-05 23:30] SteelWagstaff commented on #257
Lazy load for images was added to WordPress 5.5: https://make.wordpress.org/core/2020/07/14/lazy-loading-images-in-5-5/ and lazy load for iframes was added to WordPress 5.7: https://make.wordpress.org/core/2021/02/19/lazy-loading-iframes-in-5-7/. See also https://web.dev/browser-level-lazy-loading-for-cmss/

[2021-06-05 23:35] #260 closed, assigned to nobody

[2021-06-05 23:41] #290 closed, assigned to nobody

[2021-06-05 23:51] SteelWagstaff commented on #291
@colomet I'm not sure I understand what you're trying to do here. It sounds like you've created a new custom role for users and are not sure how to give that user role the permissions needed to see the 'Network Admin' menu. Is that correct? If so, this isn't something that we'd likely add to core Pressbooks. You or your developers could probably handle this yourselves by modifying this, however: h

[2021-06-05 23:52] #291 closed, assigned to nobody

[2021-06-05 23:56] SteelWagstaff commented on #294
Closing as this is a server configuration issue, rather than a Pressbooks code issue. See https://pressbooks.community/t/problems-with-acces/1289/2?u=steelwagstaff for a suggestion.

[2021-06-05 23:56] #294 closed, assigned to nobody

[2021-06-06 00:08] SteelWagstaff commented on #308
@colomet Closing, as you can control this yourself without altering the Pressbooks core code (we didn't set the send from email address you're showing in this screenshot, for example). Many open source users do this with an SMTP plugin of some kind. See https://pressbooks.community/t/no-emails-coming-in/531/5 for some ideas.

[2021-06-06 00:08] #308 closed, assigned to nobody

[2021-06-06 00:09] SteelWagstaff commented on #309
Closing as duplicate of https://github.com/pressbooks/pressbooks/issues/3645. Will add your recommendation for https://wordpress.org/plugins/accessible-poetry/ to that ticket

[2021-06-06 00:09] #309 closed, assigned to nobody

[2021-06-06 00:13] SteelWagstaff commented on #311
We've made some progress using Codeception. Closing this ticket in favor of https://github.com/pressbooks/private/issues/258, https://github.com/pressbooks/private/issues/391 and https://github.com/pressbooks/private/issues/457

[2021-06-06 00:13] #311 closed, assigned to nobody

[2021-06-06 00:21] SteelWagstaff commented on #286
Here's where dependency errors are produced: https://github.com/pressbooks/pressbooks/blob/0e9057b90033bedd636be877a7afab84cf9162e9/inc/modules/export/namespace.php#L83-L100.

[2021-06-06 00:26] SteelWagstaff commented on #320
We'll be adding Koko Analytics to our hosted networks in the near future, which will provide a dashboard with basic page view information: https://www.kokoanalytics.com/wp/wp-admin/index.php?page=koko-analytics#/. Open source users may also want to consider using it or a similar solution if they're interested in this functionality.

[2021-06-06 00:26] #320 closed, assigned to nobody

[2021-06-06 00:27] SteelWagstaff commented on #321
Related to #226

[2021-06-06 00:27] SteelWagstaff commented on #326
Related to #134

[2021-06-06 00:34] SteelWagstaff commented on #336
@kartikmann24 we have an open issue that we hope to work on soon that should address this: https://github.com/pressbooks/pb-mathjax/issues/18

[2021-06-06 00:34] #336 closed, assigned to nobody

[2021-06-06 00:34] SteelWagstaff commented on #338
Closing as duplicate of #69

[2021-06-06 00:34] #338 closed, assigned to nobody

[2021-06-06 00:38] SteelWagstaff commented on #347
Closing as duplicate of #263

[2021-06-06 00:38] #347 closed, assigned to nobody

[2021-06-06 00:45] SteelWagstaff commented on #359
Closing in favor of https://github.com/pressbooks/pressbooks/issues/2096 + https://github.com/pressbooks/pressbooks/issues/2323

[2021-06-06 00:45] #359 closed, assigned to nobody

[2021-06-06 00:51] SteelWagstaff commented on #363
@pbstudent I'm not aware of any way to control hyphenation in webbooks besides CSS, so not sure how a theme option would make much of a difference here, to be honest. See https://medium.com/clear-left-thinking/all-you-need-to-know-about-hyphenation-in-css-2baee2d89179 + https://css-tricks.com/almanac/properties/h/hyphenate/ + https://developer.mozilla.org/en-US/docs/Web/CSS/hyphens + https://caniu

[2021-06-06 00:55] SteelWagstaff commented on #134
@alexdryden Sounds terrific!

[2021-06-06 05:30] SteelWagstaff commented on #74
@colomet contributors should be able to edit chapters which they are the ‘owners’ of: https://guide.pressbooks.com/chapter/chapters/. There’s a bug we need to fix though: https://github.com/pressbooks/pressbooks/issues/2131. Closing this issue in favor of that one.

[2021-06-06 05:30] #74 closed

[2021-06-06 08:59] pbstudent commented on #363
Already tried CSS
`.textbox p, .part p, .chapter p, .back-matter p, body#tinymce.wp-editor p {
  hyphens: none;
}`

but the web version continues to display:
![Screenshot 2021-06-06 at 10-56-01 Acknowledgements – Exploration of an Online Open e-Textbook Publishing System Policy and ](https://user-images.githubusercontent.com/24277755/120918729-2e6a5480-c6b6-11eb-8f86-6444a1f6a6f7.png)

[2021-06-06 09:03] pbstudent commented on #214
Perhaps a kind of EPUBCheck plugin would overcome external server dependencies, just as the PDF plugin (in the past) was able to over PDF server dependency?  Otherwise, online LibreOffice could be a promising publishing alternative.

[2021-06-06 18:34] SteelWagstaff commented on #77
Closing in favor of https://github.com/pressbooks/pressbooks-book/issues/721

[2021-06-06 18:34] #77 closed

[2021-06-06 18:44] SteelWagstaff commented on #363
@pbstudent

[2021-06-07 19:01] pb-amy opened #381 "'Where to click' on mobile for "metadata" and "book information""
### Feature Description

On mobile, when looking at webbooks, the "Metadata" and "Book information" fields look like there is nothing populating these fields; however, this information is simply hidden. By clicking on the header, users can expand this field to show the information nested in these headings.

Inherently, however, it's not clear that the user would have to tap on the header to see th

[2021-06-16 18:48] streats commented on #71
Hi - I found out about Copy-Magic-Paste from this [2015 article on Moz.com](https://moz.com/blog/copymagicpaste-a-script-and-easytouseguide-to-customize-the-copyevent-on-your-website). Is it the same thing? Is Squarespace supported? I'm helping a friend out who is being copied left right and center (entire pages) by competitors and I wanted to see if this might help provide at least a small deterr

[2021-06-21 20:53] beckej13820 opened #382 "Create page break controls for the Pressbooks editor"
### Feature Description

Currently there are CSS classes that can be added to items or elements to create page breaks, but those are really only available to pro users of Pressbooks that have reviewed the documentation extensively and that are comfortable using HTML mode to edit a book.

I suggest that extra buttons should be added to the Pressbooks editor, similar to formats or textboxes dropdown

[2021-07-14 15:47] SteelWagstaff opened #383 "Add LaTeX button to visual editor"
### Feature Description

As a Pressbooks user, I'd like a quick and simple way to add LaTeX to my book using the visual editor. Ideally, I should be able to click a button or use a keyboard shortcut to open up a dialogue box where I can directly enter my LaTeX code. When I click ok, the code should be wrapped in [latex] shortcodes. If a text selection is highlighted at the time that I click the vi

[2021-07-21 18:06] greatislander opened #384 "Update to new WordPress colours"
### Feature Description

Pressbooks has its own colour scheme with its own colours. It would be good to align these with WordPress' palette for ease of future maintenance (not change the colour scheme, but find the closest colours in the WordPress palette to re-implement the Pressbooks colour scheme).

### Feature Use Case

WordPress will eventually provide CSS variables (custom properties) which

[2021-07-22 16:48] LeighKP opened #385 "Link to Directory in the Catalogue"
### Feature Description

### Feature Use Case

### Other Notes

[2021-07-23 15:41] gavinpressbooks commented on #383
Tested on Integrations on https://integrations.pressbooks.network/validationtest/wp-admin/post.php?post=5&action=edit

Works as expected. Clicking the LaTeX button in the visual editor while highlighting text wraps the text in the appropriate shortcodes. Having nothing selected and clicking the LaTeX button in the visual editor prompts the user to enter content which is subsequently wrapped in the

[2021-07-23 15:41] #383 closed, assigned to SteelWagstaff

[2021-07-30 15:50] Enkerli opened #386 "Embeddable Music Player for Offline Use"
### Feature Description

An alternative to the MuseScore embed could change the game for music-related books. Especially offline.

Ideally, this alternative could include ~musical notation~ some form of visual representation, MIDI, and recorded audio. More than ideal would be a way to interact with the ~musical notation~ representation, say by highlighting or answering H5P-like questions.

The Mus

[2021-07-30 15:54] Enkerli commented on #386
Partly in response to a prompt @SteelWagstaff
... and discussions with [Gavin Goodwin](https://twitter.com/gavin_goodwin).

[2021-08-11 23:38] josieg opened #387 "Allow people to edit/delete tags used in their catalogue"
### Feature Description

This request is related to the personal catalogue that every Pressbooks user can create. As it is right now, once you create a tag to help sort the books in the catalogue, you cannot delete or edit the tag. It would be helpful to be able to delete or edit tags that are no longer applicable or have errors.

### Feature Use Case

A very specific case, but the owner of this c

[2021-08-12 21:46] SteelWagstaff commented on #267
Closing in favor of https://github.com/pressbooks/pressbooks/issues/2323

[2021-08-12 21:46] #267 closed, assigned to nobody

[2021-08-12 21:52] SteelWagstaff commented on #205
Closing in favor of https://github.com/pressbooks/pressbooks/issues/1824

[2021-08-12 21:52] #205 closed, assigned to nobody

[2021-08-12 23:19] SteelWagstaff opened #388 "Allow a chapter to have multiple 'authors'"
By default WordPress users with the 'author' role in a book can only edit content which they own. As a Pressbooks book administrator, I want to allow multiple users in my book edit the same chapter. This is especially common in student authored texts where multiple students are writing various chapters in groups. These students should not be given the admin or editor role for the whole book, since

[2021-08-13 15:57] Enkerli opened #389 "Live Collaborative Writing"
### Feature Description
Stealing/forking a great idea @SteelWagstaff ... https://www.youtube.com/watch?v=PSFq6fAYuhw

Pressbooks could integrate some form of collaborative writing à la Google Docs. One option could be a path to GDocs (somehow embedding the files and/or allowing for PB accounts to work directly there). Another would be to use a Free Software alternative to GDocs. Yet another would

[2021-08-14 19:24] Enkerli commented on #154
Ha! Hadn’t noticed that it was in there.
While MusicXML might dominate, I’m not completely convinced that focusing on it is the best bet.
And MuseScore has probably become the most popular piece of software to handle MusicXML, especially as an editor.
(The whole category of music engraving software is another story.)

Just came across MSV, today. While it could be an effective solution to some par

[2021-08-14 21:00] Enkerli commented on #386
To expand on (and possibly reframe) this idea…

My shift from “musical notation” to “visual representation” can imply a very significant difference in how this would work.
After all, the “problem to be solved” isn’t necessarily that we need to display staff notation. That, in itself, can work relatively well with image formats (including SVG), and the Music Sheet Viewer mentioned in pressbooks/ide

[2021-08-14 21:50] Enkerli commented on #154
Ha! This one sounds promising…
https://github.com/opensheetmusicdisplay/opensheetmusicdisplay

[2021-08-18 00:53] Enkerli commented on #386
Ha! This might be a rather elegant solution.
https://github.com/cifkao/html-midi-player
(via https://reposhub.com/javascript/video-audio/cifkao-html-midi-player.html )

[2021-08-18 14:29] SteelWagstaff commented on #387
Looking into this one. Will need to examine https://github.com/pressbooks/pressbooks/blob/dev/templates/admin/catalog.php and https://github.com/pressbooks/pressbooks/blob/861dbce499e293d3a7f05990bed3e5d0e911b6da/inc/class-catalog.php#L530-L614

[2021-08-18 19:04] SteelWagstaff commented on #387
@josieg Update -- this feature was built in 2013 and hasn't been much updated since then. There's no user interface for editing tags at the minute and no good work around. Only way to fix is to edit directly in your database (look for a table called wp_pressbooks_tags or similar): https://github.com/pressbooks/pressbooks/blob/861dbce499e293d3a7f05990bed3e5d0e911b6da/inc/class-catalog.php#L87

Your

[2021-08-19 23:20] josieg commented on #387
Thanks Steel!

[2021-08-20 17:40] SteelWagstaff commented on #283
Pressbooks is now creating artifacts upon PRs. We'll want to improve context for translators wherever we use variables in translated strings. See https://gist.github.com/greatislander/5f7650f134b9643dae637d48fc3af9ef and https://codex.wordpress.org/I18n_for_WordPress_Developers#Descriptions (context: https://github.com/WordPress/WordPress-Coding-Standards/issues/423)

[2021-08-21 18:45] Enkerli commented on #389
Thanks to ULiège’s Bernard Pochet, I now realize that ownCloud & NextCloud allow for collaboration through simple Markdown files without Collabora. He uses .md files in his whole workflow, including in the creation of textbooks through Pressbooks. That kind of markup is also really useful in generating slides through packages like [reveal.js](https://revealjs.com) (H5P has some support for that Ja

[2021-08-21 18:55] Enkerli opened #390 "Support for p5js"
### Feature Description
[p5js](https://p5js.org) is the JavaScript version of Processing.
It’s a library for creative folks who learn to code in the meantime. (And coding folks who learn to embrace creative explorations.)
Since it’s JavaScript, it might be possible to integrate it in both web-based and EPUB3 versions of learning material.

Pressbooks would include some of these scripts, allowing l

[2021-09-01 18:42] pb-amy commented on #224
University of Houston sent forth the same suggestion -- https://pressbooks.zendesk.com/agent/tickets/7075. Would be a great feature to explore!

[2021-09-02 21:29] SteelWagstaff opened #391 "Include TablePress tables in cloning & import operations"
Many Pressbooks authors use TablePress to create interactive tables in their books. These tables are not included when books are cloned because they don't have public REST API endpoints we can access as part of our cloning routine.

We've filed an issue with the maker of the TablePress plugin: https://github.com/TobiasBg/TablePress/issues/155. If these endpoints are added, we should consider modif

[2021-09-07 21:44] Waltonl333 opened #392 "Ability for authors and administrators to set recurring reminders to review their OER content"
Please add a feature which enables authors and administrators to set recurring reminders against each project to review their OER content

[2021-09-07 21:44] Waltonl333 commented on #392
Please add a feature which enables authors and administrators to set recurring reminders against each project to review their OER content

[2021-09-08 14:20] SteelWagstaff commented on #392
Hi @Waltonl333 -- thanks for this suggestion! This sounds to me like a calendar feature -- which is not something that Pressbooks has now or is likely to have in the future. Can you tell me a little more about what you have in mind for this desired feature, why it isn't something that would work in a basic calendar application, and what you envision doing with the feature (and how it might work/wh

[2021-09-08 23:33] SteelWagstaff opened #393 "Build a 'webbook cover generator' tool"
**Feature idea:** build a simple design tool to help authors autocreate a simple webbook cover with choice of colour/patterns/image and title/author. Could be used in conjunction with our existing 'cover generator' tool, which is designed to make ebook and especially PDF covers: https://guide.pressbooks.com/chapter/how-to-design-your-book-cover/

See https://www.youtube.com/watch?v=Que47tMX-QU for

[2021-09-08 23:51] SteelWagstaff commented on #371
Interesting feature idea, @beckej13820! We'll discuss in a future product meeting and update the ticket if we decide to take it in a future sprint.

[2021-09-08 23:58] Waltonl333 commented on #392
Hi Steel

It's good practice to regularly review and update resources. I've heard across a number of meetings that one of the issues with OER, and which impacts sustainability, is that they are often outdated. An alert feature would remind authors that their resource is due to be reviewed, therefore reducing the risk of redundancy.

[2021-09-09 02:36] SteelWagstaff commented on #363
@pbstudent, please see and reply to questions in previous comment so that we can attempt to reproduce the problem you’re encountering

[2021-09-09 17:57] SteelWagstaff commented on #283
Diff checker for artifacts look good: https://www.diffchecker.com/DCX8GDDQ!

[2021-09-09 20:09] pbstudent commented on #363
Example

https://mem-mem.com/research/front-matter/preface/

Would love to get rid of hyphenation.

[2021-09-20 14:36] SteelWagstaff commented on #363
@pbstudent when I visit that URL I see an account/host suspended message:
![Screenshot from 2021-09-20 07-35-50.png](https://images.zenhubusercontent.com/6012398f80b7cb0f8d1385bc/53c8fae0-ed92-4ccc-a0c3-86e452a6c077)

[2021-09-20 14:45] pbstudent commented on #363
Hi,

Try the new change as of now: https://mem.on-linelearning.ca/research/front-matter/acknowledgements/

Thanks,
s.

[2021-09-20 18:15] SteelWagstaff commented on #393
I would prefer to instruct our users to use purpose built tools for designing webbook covers. Canva is a good free option for now.

[2021-09-21 23:23] SteelWagstaff commented on #363
@pbstudent I cloned the book and added
[code]
to custom styles. The webbook no longer displays hyphens within paragraph content in all the browsers I tested (Chrome, Firefox, Safari, Edge, Opera, and Brave). You can check and confirm for yourself at https://integrations.pressbooks.network/hyphentest/front-matter/acknowledgements/ if you like. As there is a working method to remove hyphenation with

[2021-09-21 23:23] #363 closed, assigned to nobody

[2021-09-22 07:22] pbstudent commented on #363
Thank you Steel,

I had the same CSS except for one missing key element that resolved the issue:  .front-matter p,

I would consider your "no hyphens" CSS snippet solution to be very important:

Sincerely,
Steve

[2021-10-08 17:37] unizami-kpu opened #394 "Allow authors to apply Pixabay and Unsplash licenses to uploaded images"
### Feature Description
As an author, I'd like to be able to apply a Pixaby or Unsplash license to images I use from those sources. These specific licenses are different from the CC and public domain license options currently available from the media attributions menu.

To implement, `Pixaby License` and `Unsplash license` should be added to the dropdown list that appears when a user clicks the 'L

[2021-10-08 17:53] SteelWagstaff commented on #394
Hi @unizami-kpu this is a great idea. Can you provide more details about the desired licenses you'd like Pressbooks to add support for? Links to license details/terms would be especially helpful as we research feasibility.

[2021-10-09 00:48] SteelWagstaff commented on #390
@Enkerli have you tried https://wordpress.org/plugins/responsive-p5js-for-wp/ with Pressbooks? Might be a possibility for what you want to accomplish ...

[2021-10-13 17:16] unizami-kpu commented on #394
Hi @SteelWagstaff,
Absolutely--
Pixaby: https://pixabay.com/service/license/
Unsplash:  https://unsplash.com/license

[2021-10-16 01:04] SteelWagstaff commented on #134
Proposed changes:
1. require book info to have either an editor OR author upon save. Allow books to have editor(s) but no author(s), and author(s) but no editor(s), but not no author(s) and no editor(s)
2. If authors & editors are both present for a book (as with a selected letters or selected poems), display author in current place and 'edited by NAMES of editors' just below
3. If book has editor

[2021-10-18 20:14] alexdryden commented on #134
@SteelWagstaff what do you think about adding a checkbox in the Book Information page that allows admins to toggle whether or not a particular type of contributor shows up on the cover page? Something like [this](https://pidoco.com/rabbit/invitation/dMW8wGgvLppCRVIzjHe5JuLHLxOEQyUWndbunJXC). I'm just thinking about cases where there may be a translator/reviewer/etc and the book publisher wants tha

[2021-10-20 00:48] richard015ar opened #395 "[Research] Allow users to search within the admin interface (with autocomplete)"
### Feature Description

Add a search input in the admin interface for Network Managers, Administrators and any another role. This autocomplete search action allows the user to search by typing some letters (typo could be allowed) to find any options available for its permissions and click easily to access to the related setting.

Examples (from Sentry Interface):
![Screenshot from 2021-10-19 20-3

[2021-10-28 17:11] SteelWagstaff commented on #185
Os suggested using python or Node -- build a crawler and control with a Lambda function or CLI command. We could add an authenticated endpoint to Pressbooks which was capable of receiving a report and emailing the book admin. Put it on a schedule and provide periodic notifications as a service for Pressbooks users on hosted networks.

[2021-11-03 00:20] marbaque opened #396 "Glossary navigation idea"
### Add a Letter navigation to the glossary

<img width="980" alt="glosario" src="https://user-images.githubusercontent.com/5633124/139969005-5a107c5d-ffaf-44fa-bd06-a33cb33f61a9.png">
When a glossary has a large number of terms scrolling to find a term can be tedious.
We implemented this in a self hosted instance of Pressbooks.

### Feature Use Case

I think this could be optional. But implementi

[2021-11-10 15:54] tw77 opened #397 "Change default Call to Action on webbook home pages"
### Feature Description

Request from a client: as a network manager, I would like to be able to change the default Call to Action on webbook home pages within my network. In particular, I would like to replace the "READ BOOK" text of the Call to Action with some other text. This change would be applied at the network level.

A more general feature idea for consideration: if there was a way to add

[2021-11-18 14:28] pb-amy opened #398 "Make Malala the default theme"
### Feature Description

The Malala theme is the newest theme. It has a refined appearance, and it looks so much better than other themes esp in PDF export, as well as web. Instead of McLuhan, Malala should be the default theme.

### Feature Use Case

This would affect all new networks and books.

### Other Notes

This would only be the case for EDU networks.

[2021-11-18 14:31] pb-amy opened #399 "'Powered by Pressbooks' footer should include a link to the directory"
### Feature Description

We should have a link to the Directory in the footer, beneath the ‘Powered by Pressbooks’ link

![image](https://user-images.githubusercontent.com/61845107/142434357-37d640e3-a946-4b2d-ba8f-ff29d0aaa30f.png)

### Feature Use Case

This would provide navigation to the directory without affecting UX or Call-to-action mechanisms that needs to be researched before implementati

[2021-11-18 14:42] pb-amy opened #400 "Make "Import" a first level tool menu item (currently buried under Tools)"
### Feature Description

Currently, "Import" function is nested under "Tools" on the book admin dashboards, but it should be a first level item, just like "Export"

### Feature Use Case

Import is a widely-used feature but it is hiding under "Import". Navigation may be easier if "Import" was found at the top level of the admin dashboard panel. Something like this:

<img width="158" alt="Screen Sho

[2021-11-24 15:07] SteelWagstaff commented on #398
Can be done by network managers now, using network settings:
![Screenshot from 2021-11-24 07-05-08](https://user-images.githubusercontent.com/13485451/143263198-db2bbbfe-b898-4627-b0b5-4cbc24b1b3f4.png)
 We can changed the default value for new networks to Malala if desired?

[2021-11-29 16:09] SteelWagstaff commented on #398
Change default setting for new networks to Malala. Change existing network setting for all networks that use McLuhan to Malala.

[2021-11-29 16:20] SteelWagstaff commented on #400
@pb-amy Where would you like the 'import' option to live in the dashboard menu? Above 'export'? Below 'export'? etc.

[2021-11-29 20:38] SteelWagstaff commented on #398
Core function is in whitelabel: https://github.com/pressbooks/pressbooks-whitelabel/commit/dd605024bd0896af22d725a033027fb9f67ea27a, controlled at network level in https://github.com/pressbooks/pressbooks-network-analytics/blob/34ac8b92c4ef69fae7c182cd15a4e9bc746dcbee/templates/settings.blade.php#L82-L105

[2021-11-29 23:36] SevenSidedSquare opened #402 "Display search query in Directory search results"
### Feature Description

When conducting a search of Pressbooks Directory, it would be helpful if we displayed the search query right above the results. This could appear below the search bar, right next to the number of results. Here is a rough mockup:

<img width="632" alt="Screen Shot 2021-11-29 at 6 10 58 PM" src="https://user-images.githubusercontent.com/27644125/143957933-57336b42-c3a6-4ca6-

[2021-11-30 01:39] SteelWagstaff commented on #399
Code goes https://github.com/pressbooks/pressbooks-aldine/blob/8d4725f5fcd2112d14dc94a8401ba8fa22a81f51/footer.php#L107 and https://github.com/pressbooks/pressbooks-book/blob/367a356006b480187f9a47fc6b99fc68832b4a89/footer.php#L66

[2021-12-01 15:11] SteelWagstaff commented on #399
Appears as expected on integrations.

[2021-12-01 15:11] #399 closed, assigned to SteelWagstaff

[2021-12-02 16:43] pb-amy opened #403 ""Terms of Service" button on log-in page next to "Register" and "Lost your Password" buttons"
### Feature Description

The only way for new users to be confronted by a "Terms of Service" page is when users manually register through the default Pressbooks login method. However, some institutions (namely UTRGV in this case, in December 2021) have suggested that they'd like to make a Terms of Service visible on the log-in page to make it visible regardless of how the user is registering.

<im

[2021-12-16 17:04] richard015ar commented on #395
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Pressbooks-Product-Backlog-60ae7d807f6e370010b3d5be/issues/pressbooks/ideas/395?planning-poker) with ZenHub @arzola @fdalcin @SteelWagstaff

[2021-12-27 19:58] alminervini commented on #68
Yes, please make reading times a reality. This would be super helpful to my students who work better with incentives and knowing their time capacity and constraints on time. Thank you!! :)

[2022-01-06 18:12] SteelWagstaff opened #404 "Feature: Add and display 'institutions' in book info, webbook, network catalog, Pressbooks Directory"
As a network manager for a consortial network, I want to see and display which institution is responsible for publishing books on my network and quickly filter by institution in my book list and network catalog.

As an author, I want to be able to indicate the institution responsible for creating the resource in my book info so that it can be displayed in my book's metadata and my network catalog.

[2022-01-11 19:00] tw77 commented on #394
An Unsplash license option has been requested by another user here: https://pressbooks.zendesk.com/agent/tickets/8620

[2022-01-25 20:24] tw77 commented on #394
Posting this here because it's also about updating license options, but if it should be its own issue, I can move it as needed.

A further addition to the license options has been requested by KSU: the ability for authors to add "unless otherwise noted" to an existing book-level license. The specificity this affords is necessary in cases where books contain a range of variously licensed content. W

[2022-01-31 19:21] laneoer opened #405 "Feature: single-view list of last-revision timestamp for pages"
As an editor, I'd like to see the last-revision timestamp for each webbook page in a single view. Currently, the last revision timestamp is only available on each individual page, which is not an effective solution for reviewing webbooks with significant page counts. Populating the timestamps on the _Organize_ page in a new column would effectively implement the request.

[2022-02-03 22:20] SteelWagstaff commented on #348
Spoke with Nick Lum today. He shared some sample UI implementations for various web readers:

[Expandable menu](https://unreasonable.is/how-to-stop-working-and-be-more-productive/)
[Always-open menu](https://www.rif.org/literacy-central/reading-experience/what-electoral-college-hard)
[Integrated into existing menu](https://www.storyshares.org/book/175/read/free_preview)
[Blackboard Ally file conve

[2022-02-04 20:03] kylemackie opened #406 "Pressbooks Admin page"
### Feature Description

A sortable Admin page.

### Feature Use Case

It would be helpful to have an admin page where users could sort their books by name, date created, date modified, etc.

[2022-02-07 13:12] kylemackie opened #407 "customize textboxes"
### Feature Description

Would like the ability to customize what the textboxes are called

### Feature Use Case

In the appearance/theme options, it would be helpful to be able to change the title and default text for textboxes. (e.g., "Bibliography", or "Key Points"

[2022-02-08 14:46] saschafoerster opened #408 "Please remove all Google fonts references from source code and replace it with local fonts"
Google fonts can't be used in the EU anymore, without risks:
https://www.golem.de/news/landgericht-muenchen-einbindung-von-google-fonts-ist-rechtswidrig-2202-162826.html

So please make it easy for us and remove Google Fonts reverences and use instead fonts locally.

[2022-02-08 15:10] SteelWagstaff commented on #408
Thanks @saschafoerster -- we will look into this soon. For those who don't read German, here's a summary of the article he shared:
A Munich Regional Court judge has ruled that the integration of dynamic web content such as Google Fonts from US web services is illegal without the consent of the visitor. The ruling stated that there is no legitimate interest within the meaning of the General Data Pr

[2022-02-08 15:46] saschafoerster commented on #408
@SteelWagstaff Thank you very much for helping with translation and the very fast reaction!

[2022-02-10 16:55] josieg opened #409 "Make Heading 2 the top-level heading for chapter/part content"
### Feature Description
In the Pressbooks webbook, chapter titles are always set to Heading 1. In addition, the top-level heading in the content editor is Heading 1 (and this is the heading writers are encouraged to start with, especially if they want to use the two-level table of contents or collapse heading features).

However, to leads to inaccurate heading structure, with the chapter title and

[2022-02-10 18:30] SteelWagstaff commented on #409
Thanks @josieg -- we've discussed this very issue/problem internally. We had hoped that browsers and other reading tools would have supported H1s inside of section elements differently, but the reality is that they haven't and probably never will (see https://html5accessibility.com/stuff/2021/03/21/a-decade-a-year-of-heading-backwards/ and https://html5doctor.com/computer-says-no-to-html5-document

[2022-02-11 22:29] josieg commented on #409
Thanks Steel! I figured it was on your radar. Even just making so people could choose to have the collapse headings/two-level TOC apply to either H1 or H2 would make it possible to use H2 for new books being created.

[2022-02-15 23:13] adelevett opened #410 "Filter directory by available output file formats"
### Feature Description

Add Output Format (ePub, PDF, XML, Common Cartridge, etc.) as a selectable filter when searching the Pressbooks Directory.

### Feature Use Case

Instructors are currently not able to filter search results by available output formats so if they have a specific limitation or need based on the class delivery format they have to manually inspect search results to check if the

[2022-02-17 14:58] SteelWagstaff commented on #410
Great idea @adelevett -- we should be able to add a visual indicator of some kind to the book cards in the Directory informing visitors whether exports files have been made available for download and if so, which file types are included. We could also add filters for this information. Will add this to our product backlog.

[2022-02-18 22:47] aesantiago opened #411 "Book-level and chapter-level DOI's in exports"
### Feature Description

When a DOI is entered in the Book Info metadata, display the DOI in exports (somewhere in the first few pages along with other book info). Similarly, when a chapter-level DOI is entered in the chapter metadata, display the DOI with the appropriate chapter in exports (for example, on the first page of the corresponding chapter).

### Feature Use Case

Including the DOI's in

[2022-02-18 22:50] aesantiago opened #412 "Book cover image in PDF exports"
### Feature Description

It would be great to have an option to include the book cover image in PDF exports

### Feature Use Case

This would be useful for users who want to capture the cover image in PDF exports for any reason (e.g., for a more book-like experience in the user-facing PDF file, to include creative work that may have gone into creating the cover, etc.), and particularly for those w

[2022-03-07 18:11] tw77 commented on #159
More interest in [footnotes within media captions](https://github.com/pressbooks/pressbooks/issues/1512) reported here: https://pressbooks.zendesk.com/agent/tickets/9525

[2022-03-10 04:37] SevenSidedSquare opened #513 "[Research] Make books available via Internet Archive and OpenLibrary.org"
**User Story**
As the Pressbooks librarian, I would like for open-licensed books to have PDF and EPUB versions stored on [Internet Archive](https://archive.org/) and for those books to also be listed on [OpenLibrary.org](https://openlibrary.org/). This will give users more places to discover Pressbooks books and will serve as an archive of those exported files.

Steel and I had a conversation with

[2022-03-11 18:33] gunha opened #413 "Plugin Statistics"
### Feature Description

Currently (and as far as I know), there isn't a straightforward way to see how many books within our Pressbooks EDU instance have a specific plugin activated. We can see how many books have at least one H5P activity using the book list and filtering, but there isn't a way to know what the specific number of books with the H5P plugin activated is, and that information would

[2022-03-14 20:28] alanngnet opened #414 "Show "Last revised" date on each page"
### Feature Description

Give authors the option of turning on a "This section/chapter last revised on [date] [?time]" text displayed at the bottom of every "chapter" in a Pressbook. For an implementation example on native WordPress, see the pages of this OER textbook:
https://courses.dcs.wisc.edu/wp/readinggerman/introduction/

The above example was implemented quite easily, with a very small mod

[2022-03-14 21:23] SteelWagstaff commented on #414
Hi Alan -- this is a great idea. Appreciate the code example you provided as well. Will add this to our backlog for refinement shortly!

[2022-03-14 22:16] alanngnet commented on #414
Hi Steel! Nice surprise to see you're still a PressBooks champion all these years later. Thank you very much for the fast reponse!

[2022-03-17 15:48] tw77 commented on #224
University of Minnesota also requests this: https://pressbooks.zendesk.com/agent/tickets/9648

[2022-03-21 17:04] paradisojr opened #415 "Feature: Distinct URL for "Create a Book""
### Feature Description

I'd like to be able to send users to a unique 'create a book' URL that would either allow them to create a book (if signed in) or prompt them to sign in from that page and be kept there (if not logged in).

### Feature Use Case

Problem: Currently, /wp-signup.php is used for 'sign up' and 'create a book.' Does the system require they use the same URL?

Motive: Since transi

[2022-03-28 18:12] goughmj opened #416 "Ability to display a Custom License in the Book Information"
A professor-student collaboratively authored Pressbook that we have just published, includes two student authored chapters that have a different, more restrictive license than the license for the book as a whole. This is because we wanted the student authors to choose whether to allow their content to be remixed, or not. To read more about the options we provided students with, and why (note that

[2022-03-29 16:59] SteelWagstaff opened #417 "Build full print on demand integration"
### Feature Description

As an author, I'd like to create a print on demand version of my book and allow visitors to purchase print copies directly from my webbook homepage. Instead of generating the PDF files, setting up PoD with a service on their website, and then linking visitors to the PoD purchase link, I'd like the process to be as seamless and close to automatic as possible. This would req

[2022-04-07 14:54] tw77 opened #418 "Implement listener to allow for resizing of MyOpenMath iFrame embeds"
### Feature Description

A faculty member at Montgomery College points out that iFrame embeds of MyOpenMath content in Pressbooks don't change height on window resize or other events. They're wondering if this resizing could be supported: "MyOpenMath does send a JSON postMessage string that includes the height of the iFrame and its wrapper element. Can we possibly implement a postMessage listener

[2022-04-07 23:55] SteelWagstaff commented on #418
See https://www.thisdot.co/blog/using-message-events-to-resize-an-iframe for similar idea/implementation

[2022-04-08 02:55] SteelWagstaff commented on #411
Chicago Manual of Style (17th edition) suggests that the copyright page is where DOIs should be displayed, where relevant

See example:
![Screenshot from 2022-04-07 19-55-21](https://user-images.githubusercontent.com/13485451/162353933-0a8db4f7-b41f-46b3-9b82-3f8825e03fb0.png)

It also recommends: "Like an ISBN, the DOI should also appear on the book jacket or cover and should be included as part

[2022-04-08 16:18] tw77 commented on #418
That looks promising. The same faculty member expresses interest in an iFrame size listener for all whitelisted sites rather than only MyOpenMath.

[2022-04-08 18:22] SteelWagstaff commented on #408
See https://discourse.roots.io/t/guide-self-hosted-google-fonts/22794

[2022-04-08 18:29] paradisojr commented on #418
Love this!

[2022-04-19 17:20] WozniakSue opened #419 "Request for ability to change fonts and colors within Theme in WYSIWYG rather than just css"
### Feature Description

I am a librarian helping faculty create PressBooks. Many of us are not css literate. Some faculty would like to customize features of the Themes, such as font families, sizes and colors, but don't have the css capability to do so. It would help many of our faculty, and I imagine many other novice users of PressBooks be able to do this. Could this capability be created?

##

[2022-04-25 17:06] SteelWagstaff commented on #419
hi @WozniakSue -- thanks for filing an idea in our GitHub repository! Can you tell us more about what you have in mind for this feature when you have a chance? The title is helpful, but more details in the body of the ticket would be great to help us understand what this would accomplish and how it might be used.

[2022-04-25 17:35] WozniakSue commented on #419
Hi Steel. I would like to see the ability to change fonts within a Theme without having to do so in CSS. This is for users who are not coding saavy, including myself. This would be similar to the way you can do so in Word, where you change the formatting of a pre-existing style by using the toolbars at the top to make choices of font, font size, spacing within paragraphs, etc. Is that enough detai

[2022-04-27 22:37] cogdog opened #420 "Move the 'edit' button above the content for logged in users"
### Feature Description

This is very minor...

It get tedious to always have to scroll to the very bottom of a Pressbooks page to access the Edit button. Why not have one in the Admin bar menu (as Wordpress does) to at least make it close if nearer  the top of the page? Or even a floating one?

### Feature Use Case

It helps anyone who is reviewing content and needs to make a change. I can't spea

[2022-05-30 18:39] omshivaprakash opened #514 "Use language specific numerals in place of roman numerals"
### Description

Is there a way to display/use language-specific numerals instead of roman numerals? When we change the book language, we don't see the numbers changing to the respective language in TOC, chapter numbers, chapter content etc.

### Steps to Reproduce

1.  Select the language
2.  Find the numerals used in book in respective language instead of english

**Expected behavior:**

Find th

[2022-05-31 18:23] jkeohane opened #421 "Cross-referencing Internal links in print PDF"
### Feature Description

Please cross-reference internal links by page number when exporting PDF for printing.

Currently all the formats, except for print, hyperlink internally in a really nice way.  On can set an anchor, and link to that, or one can link to a Chapter or Part.

However, cross-referencing is also very important when writing a print book, especially a textbook.    MS Word, and LaTe

[2022-06-06 18:35] hughmcguire commented on #417
challenge : handling money splits.

[2022-06-07 16:40] jkeohane opened #422 "Footnotes in figure captions"
### Feature Description

The [footnote] tags do not work within figure captions, so I cannot attribute my figure via footnote.

### Feature Use Case

Anybody who includes a figure that need attributing, and wants to do this using a footnote.

### Other Notes

It should be an easy fix.

[2022-06-07 18:37] SteelWagstaff commented on #422
Closing as duplicate of https://github.com/pressbooks/ideas/issues/159

[2022-06-07 18:37] #422 closed, assigned to nobody

[2022-06-07 18:39] SteelWagstaff commented on #422
@jkeohane the issue here has to do with shortcodes within shortcodes. It's technically possible to do this in WordPress, and is fairly straightforward for the webbook. It gets a bit complicated in the case of PDF footnotes, because we have to process/place them using some positioning magic when we generate PDFs. We'd like to add support for this, if possible, but don't know when we'll get to it. S

[2022-07-19 02:13] SteelWagstaff opened #423 "Produce Crossref-compatible XML metadata exports to make DOI registration faster"
As a publisher, I'd like to create & register DOIs for content published with Pressbooks as simply and easily as possible.

## Notes
Pressbooks allows users to associate books and parts of books (front/back matter, chapters, etc.) with individual digital object identifiers [DOIs]. A digital object identifier (DOI) is a persistent identifier used to identify unique online resources. One of the most

[2022-07-27 21:28] SteelWagstaff commented on #423
A network manager writes: I want to be able to "Facilitate metadata export from Pressbooks in a form suitable for XML upload to CrossRef for DOI registration"

[2022-07-28 15:06] figaroblue32 opened #424 "Facilitate metadata export from Pressbooks in a form suitable for XML upload to CrossRef for DOI registration"
Digital Object Identifiers (DOIs) are persistent identifiers [PIDs] used to identify unique online resources. DOIs are commonly assigned to scholarly journal articles, acting both as a PID and a means for authors to track their individual usage and dissemination.
Chapter-level DOIs are increasingly requested by academic authors.
The PressBooks platform offers a chapter-level DOI field.
However, th

[2022-07-29 16:15] SteelWagstaff commented on #423
Users at Sussex were able to "successfully extracted required metadata [for a book with over 100 DOIs] from the exported PressBooks XHTML file, using a Python script. The resultant file was tested against CrossRef's parser test page, which reported it was valid for upload to CrossRef. This was then uploaded. All DOIs were successfully registered and now resolve. We are very happy to share approach

[2022-07-29 16:16] SteelWagstaff commented on #424
Thanks for suggesting @figaroblue32 -- going to close this as a duplicate of #423 -- we would be interested to see the python script/method used by your colleague, however!

[2022-07-29 16:16] #424 closed, assigned to nobody

[2022-07-30 04:35] SteelWagstaff commented on #350
Search options for WordPress include:
1. https://searchwp.com/ ($399/year for unlimited sites: https://searchwp.com/buy/)
2. https://wordpress.org/plugins/elasticpress/ or https://github.com/10up/ElasticPress
3. Relevanssi (paid or open source): https://github.com/msaari/relevanssi

See https://github.com/teamtnt/tntsearch for an interesting PHP-based search tool

[2022-08-01 03:01] SteelWagstaff commented on #415
Closing in favor of https://github.com/pressbooks/pressbooks/issues/2856

[2022-08-01 03:01] #415 closed, assigned to SteelWagstaff

[2022-08-01 03:08] #283 closed, assigned to greatislander, SteelWagstaff

[2022-08-01 11:50] figaroblue32 commented on #424
Hi Steel,

Thanks for letting me know.

However, the reason I raised this as a new and separate issue was because the issue as you raised it is misleading, as it does not have a title that reflects the developmental request  – ‘Facilitate easy creation of DOIs for books and chapters with Crossref’ doesn’t really make any sense. The creation of DOIs is super easy, you need to be a registered instit

[2022-08-01 14:13] SteelWagstaff commented on #424
@figaroblue32 i've renamed #423: "Produce Crossref-compatible XML metadata exports to make DOI creation faster" -- hope that better meets your desires/needs?

[2022-08-01 14:18] figaroblue32 commented on #424
HI Steel

Could you change ‘creation’ to ‘registration of DOIs’ in the title and the body?

‘Creation’ is misleading, users will already have the DOIs.

Thanks, Catrina

From: Steel Wagstaff ***@***.***>
Sent: 01 August 2022 15:13
To: pressbooks/ideas ***@***.***>
Cc: Catrina Hey ***@***.***>; Mention ***@***.***>
Subject: Re: [pressbooks/ideas] Facilitate metadata export from Pressbooks in a form

[2022-08-01 14:36] SteelWagstaff commented on #424
Done!

*Steel Wagstaff*
Product Manager, Pressbooks
***@***.***

On 8/1/22 7:18 AM, figaroblue32 wrote:

[2022-08-01 15:35] figaroblue32 commented on #424
Brilliant, thanks!

From: Steel Wagstaff ***@***.***>
Sent: 01 August 2022 15:36
To: pressbooks/ideas ***@***.***>
Cc: Catrina Hey ***@***.***>; Mention ***@***.***>
Subject: Re: [pressbooks/ideas] Facilitate metadata export from Pressbooks in a form suitable for XML upload to CrossRef for DOI registration (Issue #424)

Done!

*Steel Wagstaff*
Product Manager, Pressbooks
***@***.***<mailto:***@***

[2022-08-01 17:23] tw77 commented on #394
Requested again here (viewable by PB staff for internal reference): https://pressbooks.zendesk.com/agent/tickets/11617

[2022-08-02 03:34] lissertations commented on #79
Are there any plans to include MARC export functionality in future sprints / updates? Being able to export MARC records from existing Pressbooks book info would be a gamechanger for metadata librarians - it would greatly improve the consistency of catalogue records for Pressbooks titles, and save us from having to manually catalogue them from scratch. I am surprised this issue has been open for so

[2022-08-08 16:45] tw77 commented on #159
Interest in glossary terms within columns (a new case for nested shortcodes) reported here: https://pressbooks.zendesk.com/agent/tickets/11738

[2022-08-12 20:31] paradisojr opened #425 "Allow users to replace the word 'book' across the webbook homepage"
Instructors at UCF's Rosen College of Hospitality would like their 1,000+ students going through internships to create ePortfolios in Pressbooks that students could then share with potential employers et al. during their internship and/or upon graduation.

The faculty members' concern is that they cannot edit the buttons highlighted in the screenshot below to read "Read Portfolio" and "Download Po

[2022-08-13 01:37] SteelWagstaff commented on #425
Interesting idea, Jim. Would they like to be able to customize the whole phrase, or just replace the word ‘Book’ with the noun of their choice?

[2022-08-13 12:36] paradisojr commented on #425
At current, the ask is just to replace the word book ‘wherever that might appear’ (most notably on the resource’s landing page) with the word portfolio. This is actually a very high priority item for them.

I, personally, think it could be interesting to edit the entire phrase, but that would be above and beyond at this point.

[2022-08-15 19:47] SteelWagstaff commented on #425
To my mind, the simplest/easiest way to do this would be to add a global theme option similar to what we we do for 'part label' and 'chapter label' which would allow them to supply a replacement for 'Book'
<img width="1077" alt="Screen Shot 2022-08-15 at 1 46 45 PM" src="https://user-images.githubusercontent.com/13485451/184706595-7b1388c4-c28f-454c-ad58-311b80d6aa08.png">

Code that would need to

[2022-08-15 19:53] paradisojr commented on #425
Awesome! I think that would work great!

[2022-08-17 19:34] tw77 opened #426 "Allow users to delete their own account without contacting Pressbooks staff or network managers"
### Context

Users on Pressbooks networks have the ability to initiate deletion of their books from the dashboard interface, prompting an email to be sent to their email address with a link that, once they click it, triggers the successful deletion of their book.

<img width="1083" alt="delete page" src="https://user-images.githubusercontent.com/44182629/185213655-c8535eb9-5da6-4cc5-8014-e27f2258d

[2022-08-22 03:17] peedubdub commented on #254
This would be very helpful. Moving chapters around post-import takes lots of clicks

[2022-08-22 15:37] edenemilynan opened #427 "Notify users when books are missing metadata/descriptive book cover"
Display a banner in a book's dashboard when the book is missing important metadata/a book cover with the title.

Must determine what constitutes important metadata (e.g., author, subject(s), language, description).

A book with complete metadata will perform better in search results/the Directory (see difference in appearance below).

<img width="899" alt="Screen Shot 2022-08-22 at 9 33 46 AM" src

[2022-09-21 18:17] jocelynpb2 opened #428 "Automatically add new network managers to the private group on the forum"
### Feature Description

As the Pressbooks community manager, I want all network managers to be automatically added to the private group in the forum so that we can communicate easily with them, without them needing to take extra action.

### Other Notes

The private group can be accessed at https://pressbooks.community/c/pressbooks-clients/17. Amy has created an automatic invite link that may be

[2022-09-29 18:28] SteelWagstaff opened #429 "Display publication date on book homepage as part of metadata section"
Requested by network managers. Would help people trying to produce citations.

[2022-10-03 23:20] hofera opened #430 "Allow authors to password protect an entire book"
### Feature Description

As a book author, I want to password protect the contents of my entire book so that it's visible only to people who have the password. Readers should be able to enter the password once and access all content in the book without needing to create an account. Currently I can password protect content in the book, but it has to be done at the front/back matter or chapter leve,

[2022-10-16 15:26] SteelWagstaff opened #431 "Make all child themes 'shape shifter' compatible"
The 'shape shifter' font selection theme option is popular among users of McLuhan and Malala. We should add support for this to all supported McLuhan child themes.

See https://pressbooks.org/blog/2019/09/24/font-selector-theme-option/ + https://github.com/pressbooks/pressbooks/blob/dc7a74eaa0a396b6b79e8ced95ed691a0a9628e2/inc/class-styles.php#L664-L666 + https://github.com/pressbooks/pressbooks/p

[2022-10-19 16:17] SteelWagstaff commented on #431
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Pressbooks-Product-Backlog-60ae7d807f6e370010b3d5be/issues/pressbooks/ideas/431?planning-poker) with Zenhub @arzola @cmurtagh @fdalcin @ho-man-chan @MichelleWeremczuk @richard015ar @tw77

[2022-10-19 19:59] SteelWagstaff commented on #426
Proposal:
Add a new option here:
![Screenshot from 2022-10-19 12-57-55](https://user-images.githubusercontent.com/13485451/196791551-80adbc70-183e-43d7-b441-f94c13bf659a.png)

Once the user confirms deletion of their account, we should also cancel any current subscriptions they have on pressbooks.pub. We should not delete their books if they are public and openly licensed.

[2022-10-24 17:13] SteelWagstaff commented on #430
Hi @hofera thanks for submitting this idea. Can you tell us more about the desired use case for global password protection for a book? Is the idea that all content in a book would have the same password, and it could simply be edited or turned on/off at the book level rather than the level of individual front/back matter? Who would like to use this feature, and do they have any other needs/require

[2022-10-24 17:18] hofera commented on #430
Hi Steel,

We have faculty running pilots with textbooks that are in Pressbooks but
still in draft form. We hope that they are not shared widely right now
because there are many changes that we plan to make before official launch.
Adding a book-level PW is a way of making sure that students can access but
the books aren't too "spread-y."

The page by page PW option is too burdensome for these book

[2022-10-24 18:34] vhartma2 opened #432 "About the Authors Toggle Features (SEO)"
### "About the Author" Toggle Options

Any thoughts about allowing a global setting with more granularity for "About the Author" section?

Ideally, the following options would be available:

- Display author names at the beginning of each chapter (ON/OFF)
- Display author names in the table of contents (ON/OFF)
- Display information about authors at the end of each chapter (ON/OFF)

### Feature Us

[2022-10-24 18:46] vhartma2 opened #433 "About the Author Enhancements (SEO)"
### Enhance the About the Author Options

- Add SHORT and LONG bio for Contributors.
- Add Global Setting in "About the Author" to include SHORT/LONG bio at end of chapter.
- Add setting for "About the Authors" page to include SHORT/LONG bios in back matter section.
- Add option for two types of contributors: AUTHORS and CONTRIBUTORS (or custom name)

### Feature Use Case
Our products are about pe

[2022-10-24 18:50] vhartma2 opened #434 "Chapter Tags or Keywords (SEO)"
### Feature Description

Add tag field for each chapter to include relevant keywords.

### Feature Use Case

As SEO is by page rather than book, I'd like to include chapter-specific keywords to improve searchability of content.

### Other Notes

Each chapter has option for DOI. Be great to also include summary or keywords.

[2022-10-27 17:00] vhartma2 commented on #433
After doing more research, NOW I see the "Read more..." feature at the end of the chapter. That's great and eliminates need for long/short bio request. Thanks!

[2022-10-27 21:50] tw77 opened #435 "Update image metadata from the Media Library"
### Feature Description

This feature would allow users to update the metadata for existing instances of an image in their book from the Media Library.

### Feature Use Case

We’ve heard questions from network managers over time -- along with feedback from a network manager (https://pressbooks.zendesk.com/agent/tickets/13103 for internal reference) and a faculty member on a different network (http

[2022-11-02 19:20] allisonpbrown commented on #185
Has there been any progress on this front? I'm extremely interested in a link checking tool, and am about to have an employee embark on a large manual link checking project unless a solution is on the horizon...

[2022-11-09 17:47] SteelWagstaff commented on #435
Is this something we inherit from core WordPress? How are they handling this 'feature' or 'bug'?

[2022-11-16 19:57] SteelWagstaff opened #436 "Open tickets to resolve PHP8.1 compatibility issues in all relevant repos"
We are requiring PHP8.0 in our upcoming releases of all repos and adding PHP8.1 to our test matrices. In all repos where we have warnings or test failures, we should create tickets for fixing these issues.

See https://www.php.net/manual/en/migration81.incompatible.php

DoD: Any repo where PHP8.1 tests aren't passing or where we have compatibility warnings has an issue created to make compatible w

[2022-11-21 22:35] Waltonl333 opened #437 "Readily display Pressbooks plugin versions e.g. for H5P, Hypothes.is, etc."
### Feature Description

### Feature Use Case

### Other Notes

[2022-11-28 21:43] SteelWagstaff commented on #437
@Waltonl333 this should be available to you (as a network manager) from the diagnostics page of your network: `https://YOURNETWORKURL/wp/wp-admin/options.php?page=pressbooks_diagnostics`. In your case, it should be https://westernsydney.pressbooks.pub/wp/wp-admin/options.php?page=pressbooks_diagnostics

[2022-11-28 21:43] #437 closed, assigned to nobody

[2022-11-29 12:10] richard015ar opened #438 "Transifex deprecation notice"
From the Transifex dashboard:

Please contact us at [support@transifex.com](mailto:support@transifex.com) or use our chat for any questions you may have.

As a developer of the Scrum Team, I would like to confirm our translation actions will continue working as expected with our current GitHub actions.

DoD: Ensure translation actions continue working with the newest version of Transifex API.

[2022-11-29 12:24] richard015ar commented on #438
I sent an email to Ned to ask about it.

[2022-11-29 16:02] SteelWagstaff commented on #436
Opened issues in
1. pressbooks/pressbooks: https://github.com/pressbooks/pressbooks/issues/3044
2. pressbooks/lti-provider-1p3: https://github.com/pressbooks/pressbooks-lti-provider-1p3/issues/272

[2022-11-29 16:05] cmurtagh commented on #436
FYI Steel, we had removed this from the current sprint backlog because there were concerns about the sprint velocity and that PHP 8.1 wasn't a blocker for any other tasks.

[2022-11-29 17:29] SteelWagstaff commented on #436
Thanks @cmurtagh -- when I talked with @richard015ar yesterday about sprint goals, he explained which issues you removed and why. He also told me he was almost finished with bug fixes and issues he felt qualified to work on and we discussed adding a few more issues into the sprint backlog. This was one of them.

[2022-11-29 17:37] cmurtagh commented on #436
Coolio! Just wanted to be sure you knew why it was't there. I too might be looking into the backlog for Ops tasks!

[2022-11-29 22:32] #436 closed, assigned to SteelWagstaff

[2022-11-29 22:32] SteelWagstaff commented on #436
Reviewed all our repos and only two of them have compatibility warnings with PHP 8.1. tickets have been opened here: https://github.com/pressbooks/pressbooks/issues/3044 + https://github.com/pressbooks/pressbooks-lti-provider-1p3/issues/272.

[2022-11-30 18:46] jocelynpb2 opened #439 "Create H1-level anchors without implementing two-level TOC"
### Context

A Pressbooks author from Oregon State University points out that they are unable to automatically create subsection anchors without implementing two-level TOC. Two-level TOC grants them the ability to have each subsection of a chapter as an anchor, but it results in a lengthy TOC. They suggest a feature that will allow users to create anchors for their subsections without using two-le

[2022-11-30 18:56] SteelWagstaff opened #440 "[Research] Import/cloning tool for OpenStax books"
As a Pressbooks user, I want to be able to use Pressbooks to adapt and redistribute other high quality openly licensed content. Some of the best open textbooks available are those published by OpenStax: https://openstax.org/subjects

In the past, I believe OpenStax published these books using their CNX platform, and made zip files of books available. BCcampus wrote a now deprecated plugin that imp

[2022-11-30 19:22] SteelWagstaff opened #441 "[Research] Import/cloning tool for LibreTexts books"
As a Pressbooks user, I want to be able to use Pressbooks to adapt and redistribute other high quality openly licensed content. The LibreTexts libraries contain a large amount of high-quality openly licensed learning material: https://libretexts.org/

LibreTexts is published using MindTouch wiki software, which has an API: https://success.mindtouch.com/Integrations/API. LibreTexts has also built t

[2022-11-30 20:16] SteelWagstaff opened #442 "Track clones of books I've published"
As an author or network manager, I want to know when others clone openly licensed books that I have published so that I can measure the impact and reach of my work, and potentially notify people who have adopted/adapted my book when the source book has updates.

These things would be helpful:
- [x] pressbooks/pressbooks#3055
- [x] pressbooks/pressbooks#3056
- [x] pressbooks/pressbooks#3057
- [x] p

[2022-11-30 22:00] cmurtagh commented on #442
There are some security concerns here. We'll need to prevent bad actors from hitting up against the API with potentially malicious URLs.